
$use-core-base: true !default;
$use-core-print: true !default;

$path-fonts: 'production/img/theme/fonts/';
$path-images: 'production/img/theme/img/';

$bem-element: '__';
$bem-modifier: '--';

$spacing: 20px;
