
$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;

$color-azure: #135aa3; /* @a-pollo-color: Azure */
$color-candy-corn: rgb(246, 225, 82); /* @a-pollo-color: Candy corn */
$color-conifer: rgb(177, 232, 75); /* @a-pollo-color: Conifer */
$color-cranberry: rgb(246, 96, 141); /* @a-pollo-color: Cranberry */
$color-limed-spruce: #3f494f; /* @a-pollo-color: Limed spruce */
$color-picton-blue: #47b0ec; /* @a-pollo-color: Picton blue */
$color-turquoise-blue: rgb(81, 215, 223); /* @a-pollo-color: Turquoise blue */
$color-white: #fff; /* @a-pollo-color: White */
