@include font('LatoRegular', (ttf)) {
  font-family: 'Pipiloca';
  font-weight: 400;
}

@include font('LatoBold', (eot)) {
  font-family: 'Pipiloca';
  font-weight: 700;
}

@include font('other-font', (eot, ttf, woff, woff2)) {
  font-family: 'other font';
  font-weight: 300;
}
