body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
}

.main {
  padding: 40px;
}

hr {
  border: 0;
  border-bottom: 1px solid $color-grid-border;
  border-top: 1px solid $color-grid-border;
  display: block;
  margin: 32px auto;
}
