<a href="#" class="button-social button-social--facebook">
    <div class="button-social__icon">
        <i class="fa fa-facebook"></i>
    </div>
    <div class="button-social__network">
        Facebook
    </div>
</a>
<br>
<a href="#" class="button-social button-social--twitter button-social--with-effects">
    <div class="button-social__icon">
        <i class="fa fa-twitter"></i>
    </div>
    <div class="button-social__network">
        Twitter
    </div>
</a>
<br>
<a href="#" class="button-social button-social--github button-social--with-effects">
    <div class="button-social__icon">
        <i class="fa fa-github-alt"></i>
    </div>
    <div class="button-social__network">
        github
    </div>
</a>
