._*
.csslintrc.comments.json
.DS_Store
.DS_Store?
.sass-cache
.Spotlight-V100
.Trashes
*.7z
*.ai
*.bak
*.class
*.com
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.o
*.rar
*.so
*.sql
*.sqlite
*.tar
*.zip
/frontsize.yml
/img
/styleguide
/test/css
/test/html
/vendor
bower_components
ehthumbs.db
gulpfile.js
Icon?
node_modules
Thumbs.db
