language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
  - "0.6"
before_script:
    - npm install -g grunt-cli
    - npm install
script:
    - grunt testFrontsize
    - sassdoc ./core ./themes
