---
frontsizePath : ./
themeName     : default
prodImgPath   : test/html/img/theme/
prodFontsPath : test/html/fonts/
prodCssPath   : test/html/css/
prodCssName   : frontsize.min.css
testCssPath   : test/csslint/
testCssName   : frontsize.csslint.css

compile       : compile.scss
compileTest   : compile-test.scss
