$important: _important();

@mixin addStatePadding() {

    .no-padding {
        padding: 0 #{$important};
    }

    .no-padding-top {
        padding-top: 0 #{$important};
    }

    .no-padding-bottom {
        padding-bottom: 0 #{$important};
    }

    .no-padding-vertical {
        padding-top: 0 #{$important};
        padding-bottom: 0 #{$important};
    }

    .no-padding-left {
        padding-left: 0 #{$important};
    }

    .no-padding-right {
        padding-right: 0 #{$important};
    }

    .no-padding-horizontal {
        padding-left: 0 #{$important};
        padding-right: 0 #{$important};
    }

    @include addPaddingSelector(false, $vertical-padding, $horizontal-padding);
}
