$important: _important();

@mixin addStateSelectors() {
    .pointer {
        cursor: pointer #{$important};
    }

    .selected {
        cursor: default #{$important};
    }

    .disabled {
        cursor: default;
        opacity: $state-disabled-opacity #{$important};
        @include transition(opacity 0.25s ease-out);
        @include user-select(none);
        * {
            @include user-select(none);
        }
    }
}
