$important: _important();

@mixin addStateTable() {
    .table {
        @include asTable($state-table-padding, middle, 100%);
    }

    .table-top {
        @include asTable($state-table-padding, top, 100%);
    }

    .table-inline {
        @include asTable($state-table-padding, middle, auto);
    }

    .cell {
        @include asTableCell(0, middle);
    }

    .cell-top {
        @include asTableCell(0, top);
    }

    .cell-bottom {
        @include asTableCell(0, bottom);
    }
}
