$important: _important();

@mixin addStateText() {
    .text-center {
        // manually center all the contents inside
        text-align: center #{$important};
    }

    .text-right {
        // manually center all the contents inside
        text-align: right #{$important};
    }

    .text-left {
        // manually center all the contents inside
        text-align: left #{$important};
    }

    .text-justify {
        // manually center all the contents inside
        text-align: justify #{$important};
    }

    .text-crop {
        overflow: hidden #{$important};
        white-space: nowrap #{$important};
        text-overflow: ellipsis #{$important};
    }

    .uppercase {
        text-transform: uppercase #{$important};
    }

    .lowercase {
        text-transform: lowercase #{$important};
    }

    .capitalize {
        text-transform: capitalize #{$important};
    }

    .underline {
        text-decoration: underline #{$important};
    }

    .line-through {
        text-decoration: line-through #{$important};
    }

    .up-first-letter-only {
        text-transform: lowercase #{$important};
    }

    .up-first-letter:first-letter,
    .up-first-letter-only:first-letter {
        text-transform: uppercase #{$important};
    }

    .italic {
        font-style: italic #{$important};
    }

    .bold {
        font-weight: bold #{$important};
    }

    .normal {
        font-weight: normal #{$important};
    }

    .font-sans {
        font-family: $font-sans #{$important};
    }

    .font-serif {
        font-family: $font-serif #{$important};
    }

    .font-monospace {
        font-family: $font-monospace #{$important};
    }

    .font-heading {
        font-family: $font-heading #{$important};
    }

    .font-small {
        font-family: $font-small #{$important};
    }

    .comma-separated {
        > * {
            &:after {
                content : ",\00a0";
            }
            &:last-child:after {
                content : "";
            }
        }
    }

    .unselectable,
    .unselectable * {
        @include user-select(none);
    }

    .no-wrap {
        white-space: nowrap #{$important};
    }

    .no-line-height {
        line-height: 0 #{$important};
    }

    .line-height {
        line-height: $font-line-height;
    }

    @media #{$till-hd-full} {
        // Full HD
        .text-left-till-hd-full     { text-align: left #{$important}; }
        .text-center-till-hd-full   { text-align: center #{$important}; }
        .text-right-till-hd-full    { text-align: right #{$important}; }
    }

    @media #{$till-hd-ready} {
        // HD Ready
        .text-left-till-hd-ready            { text-align: left #{$important}; }
        .text-center-till-hd-ready          { text-align: center #{$important}; }
        .text-right-till-hd-ready           { text-align: right #{$important}; }
    }

    @media #{$till-tablet-landscape} {
        // Tablet landscape
        .text-left-till-tablet-landscape        { text-align: left #{$important}; }
        .text-center-till-tablet-landscape      { text-align: center #{$important}; }
        .text-right-till-tablet-landscape       { text-align: right #{$important}; }
    }

    @media #{$till-tablet-portrait} {
        // Tablet portrait
        .text-left-till-tablet-portrait         { text-align: left #{$important}; }
        .text-center-till-tablet-portrait       { text-align: center #{$important}; }
        .text-right-till-tablet-portrait        { text-align: right #{$important}; }
    }

    @media #{$till-mobile-landscape} {
        // Mobile landscape
        .text-left-till-mobile-landscape        { text-align: left #{$important}; }
        .text-center-till-mobile-landscape      { text-align: center #{$important}; }
        .text-right-till-mobile-landscape       { text-align: right #{$important}; }
    }

    // Media queries for selectors active from a specific resolution or higher
    @media #{$from-mobile-portrait} {
        // Mobile portrait
        .text-center-from-mobile-portrait   { text-align: center #{$important}; }
        .text-left-from-mobile-portrait     { text-align: left #{$important}; }
        .text-right-from-mobile-portrait    { text-align: right #{$important}; }
    }

    @media #{$from-mobile-landscape} {
        // Mobile landscape
        .text-center-from-mobile-landscape      { text-align: center #{$important}; }
        .text-left-from-mobile-landscape        { text-align: left #{$important}; }
        .text-right-from-mobile-landscape       { text-align: right #{$important}; }
    }

    @media #{$from-tablet-portrait} {
        // Tablet portrait
        .text-center-from-tablet-portrait   { text-align: center #{$important}; }
        .text-left-from-tablet-portrait     { text-align: left #{$important}; }
        .text-right-from-tablet-portrait    { text-align: right #{$important}; }
    }

    @media #{$from-tablet-landscape} {
        // Tablet landscape
        .text-center-from-tablet-landscape      { text-align: center #{$important}; }
        .text-left-from-tablet-landscape        { text-align: left #{$important}; }
        .text-right-from-tablet-landscape       { text-align: right #{$important}; }
    }

    @media #{$from-hd-ready} {
        // HD Ready
        .text-center-from-hd-ready      { text-align: center #{$important}; }
        .text-left-from-hd-ready        { text-align: left #{$important}; }
        .text-right-from-hd-ready       { text-align: right #{$important}; }
    }

    @media #{$from-hd-full} {
        // Full HD
        .text-center-from-hd-full   { text-align: center #{$important}; }
        .text-left-from-hd-full     { text-align: left #{$important}; }
        .text-right-from-hd-full    { text-align: right #{$important}; }
    }
}
