$important: _important();

@mixin addStateVisibility() {
    .faded {
        opacity: $state-faded-opacity #{$important};
        @include transition(opacity 0.25s ease-out);
    }

    .invisible {
        opacity: 0 #{$important};
    }

    .hidden {
        display: none #{$important};
    }

    @media #{$only-hd} {
        //.only-on-hd   { display: none; }
        .only-on-tablet { display: none; }
        .only-on-mobile { display: none; }
        .not-on-hd      { display: none; }
    }

    @media #{$only-hd-full} {
        // Full HD
        //.only-on-hd-full        { background-color:pink; }
        .only-on-hd-ready         { display: none; }
        .only-on-tablet-landscape { display: none; }
        .only-on-tablet-portrait  { display: none; }
        .only-on-mobile-landscape { display: none; }
        .only-on-mobile-portrait  { display: none; }
        .not-on-hd-full           { display: none; }
    }

    @media #{$only-hd-ready} {
        // HD Ready
        .only-on-hd-full          { display: none; }
        //.only-on-hd-ready       { background-color:aqua; }
        .only-on-tablet-landscape { display: none; }
        .only-on-tablet-portrait  { display: none; }
        .only-on-mobile-landscape { display: none; }
        .only-on-mobile-portrait  { display: none; }
        .not-on-hd-ready          { display: none; }
    }

    @media #{$only-tablet} {
        .only-on-hd       { display:none; }
        //.only-on-tablet { display:none; }
        .only-on-mobile   { display:none; }
        .not-on-tablet    { display: none; }
    }

    @media #{$only-tablet-landscape} {
        // Tablet landscape
        .only-on-hd-full            { display: none; }
        .only-on-hd-ready           { display: none; }
        //.only-on-tablet-landscape { background-color:yellow; }
        .only-on-tablet-portrait    { display: none; }
        .only-on-mobile-landscape   { display: none; }
        .only-on-mobile-portrait    { display: none; }
        .not-on-tablet              { display: none; }
        .not-on-tablet-landscape    { display: none; }
    }

    @media #{$only-tablet-portrait} {
        // Tablet portrait
        .only-on-hd-full           { display: none; }
        .only-on-hd-ready          { display: none; }
        .only-on-tablet-landscape  { display: none; }
        //.only-on-tablet-portrait { background-color: orange; }
        .only-on-mobile-landscape  { display: none; }
        .only-on-mobile-portrait   { display: none; }
        .not-on-tablet-portrait    { display: none; }
    }

    @media #{$only-mobile} {
        .only-on-hd       { display:none; }
        .only-on-tablet   { display:none; }
        //.only-on-mobile { display:none; }
        .not-on-mobile    { display: none; }
    }

    @media #{$only-mobile-landscape} {
        // Mobile landscape
        .only-on-hd-full            {display:none;}
        .only-on-hd-ready           {display:none;}
        .only-on-tablet-landscape   {display:none;}
        .only-on-tablet-portrait    {display:none;}
        //.only-on-mobile-landscape {background-color:lightgrey; padding:.25em;}
        .only-on-mobile-portrait    {display:none;}
        .not-on-mobile-landscape    {display:none;}
    }

    @media #{$only-mobile-portrait} {
        // Mobile portrait
        .only-on-hd-full           {display:none;}
        .only-on-hd-ready          {display:none;}
        .only-on-tablet-landscape  {display:none;}
        .only-on-tablet-portrait   {display:none;}
        .only-on-mobile-landscape  {display:none;}
        //.only-on-mobile-portrait {background-color:lightblue; padding:.25em;}
        .not-on-mobile-portrait    {display:none;}
    }

    // Media queries for selectors active from smaller resolution device mobile to a specific one
    @media #{$till-hd-full} {
        // Full HD
        .not-till-hd-full { display: none #{$important}; }
    }

    @media #{$till-hd-ready} {
        // HD Ready
        .not-till-hd-ready { display: none #{$important}; }
    }

    @media #{$till-tablet-landscape} {
        // Tablet landscape
        .not-till-tablet-landscape { display: none #{$important}; }
    }

    @media #{$till-tablet-portrait} {
        // Tablet portrait
        .not-till-tablet-portrait { display: none #{$important}; }
    }

    @media #{$till-mobile-landscape} {
        // Mobile landscape
        .not-till-mobile-landscape { display: none #{$important}; }
    }

    // Media queries for selectors active from a specific resolution or higher
    @media #{$from-mobile-portrait} {
        // Mobile portrait
        .not-from-mobile-portrait { display:none #{$important}; }
    }

    @media #{$from-mobile-landscape} {
        // Mobile landscape
        .not-from-mobile-landscape { display:none #{$important}; }
    }

    @media #{$from-tablet-portrait} {
        // Tablet portrait
        .not-from-tablet-portrait { display:none #{$important}; }
    }

    @media #{$from-tablet-landscape} {
        // Tablet landscape
        .not-from-tablet-landscape { display:none #{$important}; }
    }

    @media #{$from-hd-ready} {
        // HD Ready
        .not-from-hd-ready { display:none #{$important}; }
    }

    @media #{$from-hd-full} {
        // Full HD
        .not-from-hd-full { display:none #{$important}; }
    }

    @media #{$display-retina} {
        .not-retina-only {
            display:none;
        }
    }

    @media #{$display-standard} {
        .retina-only {
            display:none;
        }
    }
}
