.selector-step {
  width: step(4, 12);
}

.selector-step-2 {
  width: step(3);
}

.selector-s {
  padding-bottom: s(2, 10px);
  padding-right: s(0.5);
  padding-top: s();
}

.selector-spacing {
  padding-bottom: spacing(2);
  padding-right: spacing(0.5);
  padding-top: spacing();
}

.selector-scale-value {
  $value: 20px;
  padding-bottom: scale-value($value, 0.5);
  padding-bottom: 0px;
  padding-bottom: goPipiloca();
  padding-top: scale-value($value, 2);
}
