// SMACSS - Base Rules
// Url - http://smacss.com/book/type-base
// 
// HTML5 elements
// Url - http://html5doctor.com/element-index/

// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==              BASE                 ===================================================================================================================================
// ==              MIXIN                ===================================================================================================================================
// ==             WIDGETS               ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

@mixin base-body() {
	* {
		@include disableOutline();
	}

	body {
		margin:0;
		padding:0;

		color:$font-default-color;
		text-shadow:1px 1px 0px rgba(255,255,255,.61);
		font-family: $font-default;
		
		background-color: #FCFCFC;
		
		@include font-smoothing(); // if you want to enable font smoothing (will be applied to webkit only)
	}
}

@mixin base-a() {
	// If the a element has an href attribute, then it represents a hyperlink (a hypertext anchor).
	// If the a element has no href attribute, then the element represents a placeholder for where a link might otherwise have been placed, if it had been relevant.
	// 
	// The target, rel, media, hreflang, and type attributes must be omitted if the href attribute is not present.
	// 
	// Url - http://html5doctor.com/element-index/#a
	$color:$font-default-color;
    $userSelect:none;
	a {
		display: inline-block;
		line-height: $font-line-height;
		text-decoration: none;
		color:$color;

		border-bottom:2px solid opacify($color, 0.3);
	
		$animation:0.3s ease-in-out;
		@include transition("border-bottom #{$animation}, color #{$animation}");
		@include user-select($userSelect);
		
		&[title]:hover {
			text-decoration: none;
		}

		&:hover,
		&.hover,
		&.selected,
		&.active {
			color:saturate(darken($color, 10%), 7%);
			border-bottom-color: $color;
		}
		
		&.selected {
			cursor: default;
		}

		img {
			border: none;
		}
	}
}

@mixin base-h() {
	$color:black;
    $fontFamily:$font-heading;
    $fontWeight:bold;
    $lineHeight:1;
    $margin: 0 0 0.5em 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $fontFamily;
		font-weight: $fontWeight;
		color: $color;
		line-height: $lineHeight;
		margin: $margin;
		@include user-select();
	}
}

@mixin base-code() {
	// The code element represents a fragment of computer code.
	// This could be an XML element name, a filename, a computer program, or any other string that a computer would recognize.
	// 
	// Url - http://html5doctor.com/element-index/#code
	// 
	// The var element represents a variable.
	// This could be an actual variable in a mathematical expression or programming context, or it could just be a term used as a placeholder in prose.
	// 
	// Url - http://html5doctor.com/element-index/#var
	$padding: 0 0.25em;
    $backgroundColor: rgba(0,0,0,.075);
    $color: inherit;

	code,
	.code,
	var,
	.var {
		font-family: $font-monospace;
		padding:$padding;
	
		color:$color;
		
		border:1px solid rgba(0,0,0,.03);
		border-top-color: rgba(0,0,0,.075);
		background-color: $backgroundColor;
	
		@include border-radius(4px);
		@include box-shadow(0px 1px 0px rgba(255,255,255,.6));
	
		&.code-black {
			background-color: #202020;
			text-shadow: none;
			color: white;
		}
	}
}

@mixin base-samp() {
	$fontFamily: $font-monospace;
    $fontStyle: normal;
    $color: inherit;
	samp {
		font-family: $fontFamily;
		font-style: $fontStyle;
		color: $color;
	}
}

@mixin base-kbd() {
	$fontFamily: $font-monospace;
    $fontStyle: normal;
    $color: inherit;
	kbd {
		font-family: $fontFamily;
		font-style: $fontStyle;
		color: $color;
		@include keyboard-commodore();
		kbd {
			padding: 0;
			border:none;
			background-color: transparent;
			background: none;
			@include box-shadow(none);
			position: static;
			&:active {
				margin-bottom:0;
				border:none;
			}
		}
	}
}

@mixin base-pre() {
	$padding: 1em;
    $backgroundColor: #202020;
    $color: white;
	pre {
		font-family: $font-monospace;
		padding:$padding;
		overflow: auto;

		white-space: pre;
		color:$color;
		text-shadow: none;

		border:1px solid rgba(0,0,0,.03);
		border-top-color: rgba(0,0,0,.075);
		background-color: $backgroundColor;

		@include border-radius(4px);
		@include box-shadow(0px 1px 0px rgba(255,255,255,.6));

		kbd {
			color:darken($color, 40%);
			cursor: inherit;
			@include user-select(inherit);
			padding: 0;
			border:none;
			background-color: transparent;
			background: none;
			@include box-shadow(none);
			text-shadow: none;
			position: static;
			&:active {
				margin-bottom:0;
				border:none;
			}
		}

		code,
		samp {
			border-color:transparent;
			background-color: transparent;
			@include box-shadow(none);
		}
		&.with-small-fonts {
			font-family: $font-monospace;
		}
	}
}

@mixin base-meter() {
	// When the meter binding applies to a meter element, the element is expected to render as an 'inline-block' box with a 'height' of '1em' and a 'width' of '5em', a 'vertical-align' of '-0.2em', and with its contents depicting a gauge.
	// 
	// When the element is wider than it is tall(or square), the depiction is expected to be of a horizontal gauge, with the minimum value on the right if the 'direction' property on this element has a computed value of 'rtl', and on the left otherwise.
	// When the element is taller than it is wide, it is expected to depict a vertical gauge, with the minimum value on the bottom.
	// 
	// Code snippet:
	// Your score is: <meter> 2 out of 10 </meter>
	// 
	// Url - http://html5doctor.com/element-index/#meter
	meter {
		// meter | progress
		binding: meter;
	}
}

@mixin base-progress() {
	progress {
		// Represents the completion progress of a task.
		// Progress may be either indeterminate — meaning it is unclear how much work remains before the task is complete (e.g., the task is waiting for a response from a remote host) — or a numeric value between 0 and a given maximum, explicitly specifying the fraction of work that has so far been completed.
		// 
		// Code snippet:
		// <section>
		// 	<p>Progress: <progress> <span id="p">0</span>% </progress> </p>
		// 	
		// 	<script>
		// 	var progressBar = document.getElementById('p');
		// 	function updateProgress(newValue) {
		// 		progressBar.textContent = newValue;
		// 	}
		// 	</script>
		// </section>
		// 
		// Url - http://html5doctor.com/element-index/#progress
	}
}

@mixin base-s() {
	$color: $font-default-color;
    $textDecoration: line-through;
    $opacity:$state-faded-opacity;
	s {
		// The s element represents contents that are no longer accurate or no longer relevant.
		// Url - http://html5doctor.com/element-index/#s
		color: $color;
		text-decoration: $textDecoration;
		opacity: $opacity;
	}
}

@mixin base-mark() {
	// Represents a run of text in one document marked or highlighted because of its relevance in another context.
	// When used in a quotation or other block of text referenced in a document, it indicates a highlight that was not present in the original document — e.g., a portion of text in an academic publication that has recently come under additional scrutiny.
	// 
	// Url - http://html5doctor.com/element-index/#mark
	$backgroundColor: rgb(255,255,0);
	mark {
		color:inherit;
		background-color:$backgroundColor;
		@include box-shadow("0 0 1px rgba(0, 0, 0, 0.35), inset 0 0 2px rgba(255, 255, 255, 0.75)");
	}
}

@mixin base-ul() {
	$padding: 0;
    $margin: 0;
	ul {
		padding: $padding;
		margin: $margin;
	}
}
@mixin base-li() {
	$padding: 0;
    $margin: 0 0 0 1.25em;
	li {
		padding: $padding;
		margin: $margin;
	}
}

@mixin base-ol() {
	$padding: 0;
    $margin: 0;
	ol {
		padding: $padding;
		margin: $margin;
	}
	
	dt {
		font-weight: bold;
	}
}

@mixin base-abbr() {
	// Represents an abbreviation or acronym.
	// The optional title attribute may be used to provide an expansion of the abbreviation.
	// If specified, the title attribute must contain an expansion of the abbreviation and nothing else.
	// 
	// Url - http://html5doctor.com/element-index/#abbr
	$borderColor: #FCFCFC;
	abbr,
	abbr[title] {
		border-bottom: 2px dotted $borderColor;
		cursor: help;
		@include transition(border 0.25s ease-in-out);
		&:hover {
			border-bottom: 2px solid darken($borderColor,10%);
			text-decoration: none;
		}
	}
}
@mixin base-p() {
	p {
		@include user-select();
	}
}

@mixin base-small() {
	small {
		// Represents side comments such as small print.
		// It is not intended to be presentational.
		// The small element should not be used for extended spans of text such as multiple paragraphs, lists, or sections of text. It is only intended for short runs of text.
		// 
		// Url - http://html5doctor.com/element-index/#small
		font-size: $font-small-size;
	}
}

@mixin base-blockquote() {
	$borderLeft: 4px solid lighten($font-default-color, 20%);
    $backgroundColor: lighten($font-default-color, 45%);
    $padding: $global-padding;
    $fontStyle: italic;
    $beforeText: '«';
    $afterText: '»';

	blockquote {
		border-left: $borderLeft;
		padding: $padding;
		background-color: $backgroundColor;
		font-style: $fontStyle;
		&:before {
			content:$beforeText;
		}
		&:after {
			content:$afterText;
		}
	}
}

@mixin base-form-text() {
	$color: $font-default-color;
    $border: 1px solid rgba(0,0,0,.2);
    $borderFocused: 1px solid rgba(0,0,0,0.3);
    $backgroundColor: rgba(0,0,0,.05);
    $backgroundColorFocused: white;
    $padding: 0.5em;
    $placeholderColor: $color;

	textarea,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="date"] {
		
		width: 100%;
		outline-style: none;
		padding: $padding;
		
		color: $color;
		
		border: $border;
		background-color: $backgroundColor;
		
		@include input-placeholder($placeholderColor, lighten($placeholderColor, 20%));
		@include box-shadow("inset 0px 1px 4px rgba(0,0,0,.15), 0px 0px 0px rgba(0,0,0,0)");
		@include transition("border-color .25s ease-in-out, background-color .25s ease-in-out, box-shadow .25s ease-in-out");
	
		&:focus {
			border-color: $borderFocused;
			background-color: $backgroundColorFocused;
			@include box-shadow("inset 0px 0px 0px rgba(0,0,0,0), 0px 1px 4px rgba(0,0,0,0.15)");
		}
		&:disabled {
			cursor:default;
			opacity:$state-disabled-opacity;
		}
	}
}

@mixin base-form-file() {
	input[type="file"] {
		@include defaultElement();
		@include button-dark-metal();
	}
}
@mixin base-form-range() {
	input[type="range"] {
		
	}
}

@mixin base-form-radio() {
	$checkedBackgroundColor: white;
    $checkedBorderColor: lighten($font-default-color, 15%);
    $backgroundColor: $font-default-color;
    $borderColor: white;
	input[type="radio"] {
		@include user-select(none);
		cursor: pointer;

		@include defaultElement();
		-moz-appearance: radio;

		$size:24px;
		//@include size($size);
		@include moveTop(($size / 4));

		$imageWidth:($size * 2);
		$imageHeight:$size;
		@include spriteRetina("input-radio-1x.png", "input-radio-2x.png", $size, $size, $imageWidth, $imageHeight);

		&:checked {
			@include spritePosition(1, 0, $size);
		}
	}
}

@mixin base-form-checkbox() {
	$checkedBackgroundColor: white;
    $checkedBorderColor: lighten($font-default-color, 15%);
    $backgroundColor: $font-default-color;
    $borderColor: white;
	input[type="checkbox"] {
		@include user-select(none);
		cursor: pointer;

		@include defaultElement();
		-moz-appearance: checkbox;

		$size:32px;
		//@include size($size);
		@include moveTop(($size / 4));

		$imageWidth:($size * 2);
		$imageHeight:$size;
		@include spriteRetina("input-checkbox-1x.png", "input-checkbox-2x.png", $size, $size, $imageWidth, $imageHeight);

		&:checked {
			@include spritePosition(1, 0, $size);
		}
	}
}

@mixin base-hr() {
	$margin: $vertical-padding 0;
    $borderStyle: 1px solid;
    $borderTopColor: rgba(0,0,0,0.075);
    $borderBottomColor: rgba(255,255,255,0.8);
	hr {
		display: block;
		width: 100%;
		border: none;
		border-top: $borderStyle $borderTopColor;
		border-bottom: $borderStyle $borderBottomColor;
		padding: 0;
		margin: $margin;
	}
}

@mixin base-table() {
	$verticalAlign: middle;
    $borderCollapse: separate;
	table {
		// The table element represents data with more than one dimension, in the form of a table.
		// Tables must not be used as layout aids.
		// 
		// Code snippet:
		// <table>
		// 	<tr>
		// 		<td>dog</td>
		// 		<td>cat</td>
		// 		<td>horse</td>
		// 		<td>iguana</td>
		// 	</tr>
		// </table>
		// 
		// Url - http://html5doctor.com/element-index/#table
		border-collapse: $borderCollapse;
		vertical-align: $verticalAlign;
		width: 100%;
	}
}
@mixin base-figcaption() {
	$padding: $vertical-padding 0 0 0;
	figcaption {
		padding: $padding;
	}
}
@mixin base-caption() {
	$padding: $global-padding;
	caption {
		// The caption element represents the title of the table that is its parent, if it has a parent and that is a table element.
		// 
		// When a table element is the only content in a figure element other than the figcaption, the caption element should be omitted in favor of the figcaption.
		// 
		// Code snippet:
		// <table>
		// 	<caption>Monthly savings</caption>
		// 	<thead>
		// 		<tr>
		// 			<th scope="col">Header 1</th>
		// 			<th scope="col">Header 2</th>
		// 			<th scope="col">Header 3</th>
		// 		</tr>
		// 	</thead>
		// 	<tfoot>
		// 		...
		// 	</tfoot>
		// 	<tbody>
		// 		...
		// 	</tbody>
		// </table>
		// 
		// Url - http://html5doctor.com/element-index/#caption
		padding: $padding;
	}
}

@mixin base-th() {
	$textAlign: center;
    $fontWeight: bold;
    $padding: 0.5em;
	th {
		text-align: $textAlign;
		font-weight: $fontWeight;
		padding: $padding;
	}
}
@mixin base-td() {
	$textAlign: left;
    $padding: 0.5em;
	td {
		text-align: $textAlign;
		padding: $padding;
	}
}
@mixin base-tr() {
	$backgroundColorOdd: rgb(230,230,230);
    $backgroundColorEven: white;
    $backgroundColorHover: rgb(220,220,220);
    $backgroundColorHoverOdd: rgb(240,240,240);
    $backgroundColorHoverEven: white;
	tbody {
		tr {
			&:nth-child(odd) {
				td {
					background-color: $backgroundColorOdd;
				}
			}
			&:nth-child(even) {
				td {
					background-color: $backgroundColorEven;
				}
			}
		}
		&:hover {
			tr {
				&:nth-child(odd) {
					td {
						background-color: $backgroundColorHoverOdd;
					}
				}
				&:nth-child(even) {
					td {
						background-color: $backgroundColorHoverEven;
					}
				}
				&:hover {
					td {
						background-color: $backgroundColorHover;
					}
				}
			}
		}
	}
}
@mixin base-tfoot() {
	$textAlign: center;
    $color: lighten($font-default-color,20%);
	tfoot {
		// The tfoot element represents the block of rows that consist of the column summaries (footers) for the parent table element, if the tfoot element has a parent and it is a table.
		// 
		// Code snippet:
		// <table>
		// 	<thead>
		// 		...
		// 	</thead>
		// 	<tfoot>
		// 		<tr>
		// 			<td>Footer 1</td>
		// 			<td>Footer 2</td>
		// 			<td>Footer 3</td>
		// 		</tr>
		// 	</tfoot>
		// 	<tbody>
		// 		...
		// 	</tbody>
		// </table>
		// 
		// Url - http://html5doctor.com/element-index/#tfoot
		td {
			text-align: $textAlign;
			color: $color;
		}
		
	}
}

@mixin base-form-textarea() {
	$minHeight: 100px;
    $maxHeight: 300px;
    $resize: vertical;
	textarea {
		// The textarea element represents a multiline plain text edit control for the element's raw value.
		// The contents of the control represent the control's default value.
		// 
		// Code snippet:
		// <form action="/action-name.php" method="post" enctype="multipart/form-data">
		// 	<textarea cols="50" rows="10"></textarea> 
		// </form>
		// 
		// Url - http://html5doctor.com/element-index/#textarea
		width:100%;
		@include box-sizing(border-box);
		@include resize($resize);
		$minHeight: 100px;
		min-height: $minHeight;
		max-height: $maxHeight;
	}
}

@mixin base-form() {
	$padding: 1em 0 0 0;
	form {
		padding:$padding;
	}
}

@mixin base-form-label() {
	label {
		// The label represents a caption in a user interface.
		// The caption can be associated with a specific form control, known as the label element's labeled control, either using for attribute, or by putting the form control inside the label element itself.
		// 
		// Code snippet:
		// <label for="un">Username:</label>
		// <input name="user-name" id="un" type="email" placeholder="Your username is your email address" required autofocus>
		// 
		// Url - http://html5doctor.com/element-index/#label
		
		display: inline-block;
		@include box-sizing(border-box);
		@include user-select(none);
	
		textarea,
		input {
			margin-top:0;
		}
	}
}

@mixin base-form-output() {
	output {
		// Url - http://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_output

	}
}

@mixin base-form-datalist() {
	$color: $font-default-color;
    $backgroundColorOdd: rgb(230,230,230);
    $backgroundColorEven: white;
    $backgroundColorHoverOdd: rgb(240,240,240);
    $backgroundColorHoverEven: $backgroundColorHoverOdd;
	datalist *,
	select option {
		// Url - http://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_datalist
		color: $color;
		border:1px solid transparent;
		&:nth-child(odd) {
			background-color: $backgroundColorOdd;
			&:hover {
				background-color: $backgroundColorHoverOdd;
			}
		}
		&:nth-child(even) {
			background-color: $backgroundColorEven;
			&:hover {
				background-color: $backgroundColorHoverEven;
			}
		}
	}
}

@mixin base-form-select() {
	$backgroundColor: $font-default-color;
	select,
	keygen {
		// The select element represents a control for selecting amongst a set of options.
		// 
		// Code snippet:
		// <select id="title" name="title">
		// 	<option value="" selected>Please choose</option>
		// 	<option value="Mr">Mr</option>
		// 	<option value="Miss">Miss</option>
		// 	<option value="Mrs">Mrs</option>
		// 	<option value="Ms">Ms</option>
		// 	<option value="Dr">Dr</option>
		// 	<option value="Other">Other</option>
		// </select>
		// 
		// Url - http://html5doctor.com/element-index/#select

		@include defaultElement();

		cursor: pointer;
		padding: 0.25em 1.75em 0.25em 0.5em;

		color: $font-default-color;
		font-weight: normal;
		//.cropText();

		border: 2px solid $backgroundColor;
		background-color: desaturate(lighten($backgroundColor, 45%), 2%);

		$size: 16px;
		@include backgroundRetinaIcon("input-select-1x.png", "input-select-2x.png", $size);
		background-position: right 0.5em center;

		@include transition(background-color 0.25s ease-in-out);
		@include border-radius(10px);
		
		&:hover {
			background-color: white;
		}
	}
}

@mixin base-form-fieldset() {
	$backgroundColor: desaturate(lighten($font-default-color, 45%), 2%);
	fieldset {
		// The fieldset element is expected to establish a new block formatting context.
		// 
		// If the fieldset element has a child that matches the conditions in the list below, then the first such child is the fieldset element's rendered legend:
		// The child is a legend element.
		// The child is not out-of-flow (e.g. not absolutely positioned or floated).
		// The child is generating a box (e.g. it is not 'display:none').
		// 
		// Code snippet:
		// <form id="app-login" action="process.php">
		// 	<fieldset>
		// 		<legend>Login Details</legend>
		// 		<div>
		// 			<label for="user-name">Username:</label>
		// 			<input name="user-name" type="email" placeholder="Your username is your email address" required autofocus>
		// 		</div>
		// 		<div>
		// 			<label for="password">Password:</label>
		// 			<input name="password" type="password" placeholder="6 digits, a combination of numbers and letters" required>
		// 		</div>
		// 		<div>
		// 			<input name="login" type="submit" value="Login">
		// 		</div>
		// 	</fieldset>
		// </form>
		// 
		// Url - http://html5doctor.com/element-index/#fieldset

		background-color: $backgroundColor;
		border:none;
		padding:$global-padding;
		@include box-shadow(inset 0px -1px 0px rgba(0,0,0,0.05));
		@include border-radius(10px);
	}
}

@mixin base-form-legend() {
	$backgroundColor: desaturate(lighten($font-default-color, 45%), 2%);
	legend {
		
		// The legend element represents a caption for the rest of the contents of the legend element's parent fieldset element, if any.
		// 
		// Code snippet:
		// <form id="app-login" action="process.php">
		// 	<fieldset>
		// 		<legend>Login Details</legend>
		// 		<div>
		// 			<label for="user-name">Username:</label>
		// 			<input name="user-name" type="email" placeholder="Your username is your email address" required autofocus>
		// 		</div>
		// 		<div>
		// 			<label for="password">Password:</label>
		// 			<input name="password" type="password" placeholder="6 digits, a combination of numbers and letters" required>
		// 		</div>
		// 		<div>
		// 			<input name="login" type="submit" value="Login">
		// 		</div>
		// 	</fieldset>
		// </form>
		// 
		// Url - http://html5doctor.com/element-index/#legend

		$round: 20px;
		font-weight: bold;
		background-color: $backgroundColor;
		padding:($vertical-padding / 1.5) $horizontal-padding;
		margin-left: -($horizontal-padding);
		@include border-radius("#{$round} #{$round} 0px 0px");
	}
}

@mixin base-form-submit() {
	button,
	input[type="reset"],
	input[type="button"],
	input[type="submit"] {
		//.button-metal();
		@include button-dark-metal();
	}
}

@mixin base-img() {
	img {
		// An img element represents an image.
		// The image given by the src attribute is the embedded content, and the value of the alt attribute is the img element's fallback content.
		// 
		// The src attribute must be present, and must contain a valid non-empty URL potentially surrounded by spaces referencing a non-interactive, optionally animated, image resource that is neither paged nor scripted.
		// 
		// The img element must not be used as a layout tool.
		// In particular, img elements should not be used to display transparent images, as they rarely convey meaning and rarely add anything useful to the document.
		// 
		// Url - http://html5doctor.com/element-index/#img
		interpolation-mode: bicubic;
	}
	@if $use-css-prefix == true {
		img {
			-ms-interpolation-mode: bicubic;
		}
	}
}

@include base-body();
@include base-a();
@include base-mark();
@include base-pre();
@include base-p();
@include base-blockquote();
@include base-code();
@include base-abbr();
@include base-kbd();
@include base-samp();
@include base-small();
@include base-s();
@include base-ul();
@include base-li();
@include base-ol();
@include base-hr();
@include base-meter();
@include base-img();

@include base-form();
@include base-form-submit();
@include base-form-text();
@include base-form-range();
@include base-form-radio();
@include base-form-checkbox();
@include base-form-textarea();
@include base-form-label();
@include base-form-file();
@include base-form-select();
@include base-form-datalist();
@include base-form-output();
@include base-form-fieldset();
@include base-form-legend();

@include base-h();
@include base-table();
@include base-tr();
@include base-th();
@include base-td();
@include base-caption();
@include base-figcaption(

	);
@include base-tfoot();
