@mixin appearance($appearence:normal, $forcePrefixes:true) {
    @if $use-css-prefix == true {
        -webkit-appearance:#{$appearence};
        -khtml-appearance: #{$appearence};
        -moz-appearance: #{$appearence};
        -ms-appearance: #{$appearence};
        -o-appearance: #{$appearence};
    }
    // The appearance property allows you to make an element look like a standard user interface element.
    // Url - http://css-tricks.com/almanac/properties/a/appearance/
    // Webkit values: checkbox | radio | push-button | square-button | button | button-bevel | listbox | listitem | menulist | menulist-button | menulist-text | menulist-textfield | scrollbarbutton-up | scrollbarbutton-down | scrollbarbutton-left | scrollbarbutton-right | scrollbartrack-horizontal | scrollbartrack-vertical | scrollbarthumb-horizontal | scrollbarthumb-vertical | scrollbargripper-horizontal | scrollbargripper-vertical | slider-horizontal | slider-vertical | sliderthumb-horizontal | sliderthumb-vertical | caret | searchfield | searchfield-decoration | searchfield-results-decoration | searchfield-results-button | searchfield-cancel-button | textfield | textarea;
    // Mozilla values: none | button | checkbox | checkbox-container | checkbox-small | dialog | listbox | menuitem | menulist | menulist-button | menulist-textfield | menupopup | progressbar | radio | radio-container | radio-small | resizer | scrollbar | scrollbarbutton-down | scrollbarbutton-left | scrollbarbutton-right | scrollbarbutton-up | scrollbartrack-horizontal | scrollbartrack-vertical | separator | statusbar | tab | tab-left-edge Obsolete | tabpanels | textfield | textfield-multiline | toolbar | toolbarbutton | toolbox | -moz-mac-unified-toolbar | -moz-win-borderless-glass | -moz-win-browsertabbar-toolbox | -moz-win-communications-toolbox | -moz-win-glass | -moz-win-media-toolbox | tooltip | treeheadercell | treeheadersortarrow | treeitem | treetwisty | treetwistyopen | treeview | window;
    // Code snippet:
    // .appearance(button);
    appearance: #{$appearence};
}

@mixin display($display) {
    @if $use-css-prefix == true  and $display == "box" {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -khtml-box;
        display: -moz-box;
        display: -o-box;
    }
    @else{
        @if $use-css-prefix == true  and $display == "grid" {
            display: -webkit-grid;
            display: -ms-grid;
            display: -khtml-grid;
            display: -moz-grid;
            display: -o-grid;
            display: grid;
        }

        @if $display != "box" {
            display: $display;
        }
    }
}

@mixin align-self($params:none) {
     @if $use-css-prefix == true {
        -webkit-align-self: $params;
        -khtml-align-self: $params;
        -moz-align-self: $params;
        -ms-align-self: $params;
        -o-align-self: $params;
    }
    // this is also used by flexbox
    // http://css-tricks.com/snippets/css/a-guide-to-flexbox/
    align-self: $params;
}

@mixin align-items($params:none) {
     @if $use-css-prefix == true {
        -webkit-align-items: $params;
        -khtml-align-items: $params;
        -moz-align-items: $params;
        -ms-align-items: $params;
        -o-align-items: $params;
    }

    align-items: $params;
}

@mixin align-content($params:none) {
     @if $use-css-prefix == true {
        -webkit-align-content: $params;
        -khtml-align-content: $params;
        -moz-align-content: $params;
        -ms-align-content: $params;
        -o-align-content: $params;
    }

    align-content: $params;
}

@mixin justify-self($params:none) {
     @if $use-css-prefix == true {
        -webkit-justify-self: $params;
        -khtml-justify-self: $params;
        -moz-justify-self: $params;
        -ms-justify-self: $params;
        -o-justify-self: $params;
    }

    justify-self: $params;
}

@mixin justify-content($params:none) {
     @if $use-css-prefix == true {
        -webkit-justify-content: $params;
        -khtml-justify-content: $params;
        -moz-justify-content: $params;
        -ms-justify-content: $params;
        -o-justify-content: $params;
    }
    justify-content: $params;
}
