@mixin setPlaceholder() {

    // sets the color of the input text placeholder attribute
    @if $use-css-prefix == true {
        ::-webkit-input-placeholder {
            @content;
        }
        :-khtml-input-placeholder {
            @content;
        }
        :-moz-placeholder {
            @content;
        }
        ::-moz-placeholder {
            @content;
        }
        :-ms-input-placeholder {
            @content;
        }
        :-o-input-placeholder {
            @content;
        }
    }
    :input-placeholder {
        @content;
    }
}
@mixin setPlaceholderFocus() {

    // sets the color of the input text placeholder attribute
    @if $use-css-prefix == true {
        input:focus::-webkit-input-placeholder {
            @content;
        }
        input:focus:-khtml-input-placeholder {
            @content;
        }
        input:focus:-moz-placeholder {
            @content;
        }
        input:focus::-moz-placeholder {
            @content;
        }
        input:focus:-ms-input-placeholder {
            @content;
        }
        input:focus:-o-input-placeholder {
            @content;
        }
    }
    input:focus:input-placeholder {
        @content;
    }
}
@mixin input-placeholder() {

    // sets the color of the input text placeholder attribute
    @if $use-css-prefix == true {
        &::-webkit-input-placeholder {
            @content;
        }
        &:-khtml-input-placeholder {
            @content;
        }
        &:-moz-placeholder {
            @content;
        }
        &::-moz-placeholder {
            @content;
        }
        &:-ms-input-placeholder {
            @content;
        }
        &:-o-input-placeholder {
            @content;
        }
    }
    &:input-placeholder {
        @content;
    }
}
@mixin input-placeholder-focus() {

    // sets the color of the input text placeholder attribute
    @if $use-css-prefix == true {
        &:focus::-webkit-input-placeholder {
            @content;
        }
        &:focus:-khtml-input-placeholder {
            @content;
        }
        &:focus:-moz-placeholder {
            @content;
        }
        &:focus::-moz-placeholder {
            @content;
        }
        &:focus:-ms-input-placeholder {
            @content;
        }
        &:focus:-o-input-placeholder {
            @content;
        }
    }
    &:focus:input-placeholder {
        @content;
    }
}
