@mixin globalSelection($textColor:inherit, $backgroundColor:inherit, $fallbackBackgroundColor:$backgroundColor) {
    // Sets the color of the text selection area and the color of the text selected
    @if $use-css-prefix == true {
        ::-moz-selection {
            @include fallbackColor("background-color", $backgroundColor, $fallbackBackgroundColor);
            color: $textColor;
        }
        img::-moz-selection    {
            background-color: transparent;
        }
        ::-moz-focus-inner {
            border: 0;
        }
    }
    ::selection {
        @include fallbackColor("background-color", $backgroundColor, $fallbackBackgroundColor);
        color: $textColor;
    }
    img::selection {
        background-color: transparent;
    }
}

@mixin selection($textColor:inherit, $backgroundColor:inherit, $fallbackBackgroundColor:$backgroundColor) {
    // Sets the color of the text selection area and the color of the text selected
    @if $use-css-prefix == true {
        &::-moz-selection {
            @include fallbackColor("background-color", $backgroundColor, $fallbackBackgroundColor);
            color: $textColor;
        }
        &::-moz-focus-inner {
            border: 0;
        }
    }
    &::selection {
        @include fallbackColor("background-color", $backgroundColor, $fallbackBackgroundColor);
        color: $textColor;
    }
}
