@mixin float-row($rules: null, $total-columns: 12) {
  clear: both;
  display: block;
  width: auto;

  &::after {
    clear: both;
    content: '';
    display: block;
    float: left;
    height: 1px;
    margin-top: -1px;
    width: 100%;
  }

  @if $rules != null {
    @include element('column') {
      display: block;
      float: left;
      @each $rule, $column-number in $rules {
        @include media($rule) {
          width: step($column-number, $total-columns);
        }
      }
    }
  }
}
