// .selector {
//   @include icon('file.svg', 32px) {
//     background-color: red;
//   }
// }

@mixin icon($background-image, $width, $height: $width) {
  background-image: theme($background-image);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: $height;
  width: $width;
  @content;
}
