@mixin backgroundRetina(
	$defaultImage   ,
    $retinaImage    : $defaultImage,
    $backgroundSize : false,
    $rootPath:$root-path
    ) {
	@if $use-root-path == false{
		//@background-size: auto | px | % |  cover | contain
    //.backgroundRetina("path/image-low-res.png", "path/image-high-res.png");
		@include _backgroundRetina($defaultImage, $retinaImage, $backgroundSize, $rootPath);
	}
	@else{
		@include _backgroundRetina($defaultImage, $retinaImage, $backgroundSize, $rootPath);
	}
}

@mixin _backgroundRetina($defaultImage, $retinaImage, $backgroundSize, $rootPath) {
    @include backgroundImage($defaultImage, $rootPath);
    @include property(background-size, $backgroundSize, 0 0);

    @media #{$display-retina} {
        @include backgroundImage($retinaImage, $rootPath);
    }
}

@mixin backgroundRetinaResponsive(
	$defaultHdFullBackground,
	$retinaHdFullBackground,
	$defaultHdReadyRetinaBackground,
	$retinaHdReadyRetinaBackground,
	$defaultTabletLandscapeBackground,
	$retinaTabletLandscapeBackground,
	$defaultTabletPortraitBackground,
	$retinaTabletPortraitBackground,
	$defaultSmartphoneLandscapeBackground,
	$retinaSmartphoneLandscapeBackground,
	$defaultSmartphonePortraitBackground,
	$retinaSmartphonePortraitBackground,
	$backgroundSize	:cover,
	$rootPath		:$root-path
	)  {

	@include property(background-size, $backgroundSize);

	@if $use-root-path == false{
		@include _backgroundRetinaResponsive($defaultHdFullBackground, $retinaHdFullBackground, $defaultHdReadyRetinaBackground, $retinaHdReadyRetinaBackground, $defaultTabletLandscapeBackground, $retinaTabletLandscapeBackground, $defaultTabletPortraitBackground, $retinaTabletPortraitBackground, $defaultSmartphoneLandscapeBackground, $retinaSmartphoneLandscapeBackground, $defaultSmartphonePortraitBackground, $retinaSmartphonePortraitBackground, $backgroundSize, '');
	}
	@else{
		@include _backgroundRetinaResponsive($defaultHdFullBackground, $retinaHdFullBackground, $defaultHdReadyRetinaBackground, $retinaHdReadyRetinaBackground, $defaultTabletLandscapeBackground, $retinaTabletLandscapeBackground, $defaultTabletPortraitBackground, $retinaTabletPortraitBackground, $defaultSmartphoneLandscapeBackground, $retinaSmartphoneLandscapeBackground, $defaultSmartphonePortraitBackground, $retinaSmartphonePortraitBackground, $backgroundSize, $rootPath);
	}
}

@mixin _backgroundRetinaResponsive(
	$defaultHdFullBackground,
	$retinaHdFullBackground,
	$defaultHdReadyRetinaBackground,
	$retinaHdReadyRetinaBackground,
	$defaultTabletLandscapeBackground,
	$retinaTabletLandscapeBackground,
	$defaultTabletPortraitBackground,
	$retinaTabletPortraitBackground,
	$defaultSmartphoneLandscapeBackground,
	$retinaSmartphoneLandscapeBackground,
	$defaultSmartphonePortraitBackground,
	$retinaSmartphonePortraitBackground,
	$backgroundSize,
	$path
	)  {
	background-size:$backgroundSize;

    @include _setBackgroundRetinaResponsive($from-smartphone-portrait,  $defaultSmartphonePortraitBackground,  $retina-from-smartphone-portrait,  $retinaSmartphonePortraitBackground,  $path, $use-smartphone-portrait);
    @include _setBackgroundRetinaResponsive($from-smartphone-landscape, $defaultSmartphoneLandscapeBackground, $retina-from-smartphone-landscape, $retinaSmartphoneLandscapeBackground, $path, $use-smartphone-landscape);
    @include _setBackgroundRetinaResponsive($from-tablet-portrait,      $defaultTabletPortraitBackground,      $retina-from-tablet-portrait,      $retinaTabletPortraitBackground,      $path, $use-tablet-portrait);
    @include _setBackgroundRetinaResponsive($from-tablet-landscape,     $defaultTabletLandscapeBackground,     $retina-from-tablet-landscape,     $retinaTabletLandscapeBackground,     $path, $use-tablet-landscape);
    @include _setBackgroundRetinaResponsive($from-hd-ready,             $defaultHdReadyBackground,             $retina-from-hd-ready,             $retinaHdReadyBackground,             $path, $use-hd-ready);
    @include _setBackgroundRetinaResponsive($from-hd-full,              $defaultHdFullBackground,              $retina-from-hd-full,              $retinaHdFullBackground,              $path, $use-hd-full);
}

@mixin _setBackgroundRetinaResponsive($standardViewport, $standardBackground, $retinaViewport, $retinaBackground, $path, $viewportEnabled) {
	@if $viewportEnabled == true {
   		@media #{$standardViewport} {
   		    @include backgroundImage($standardBackground, $path);
   		}
   		@media #{$retinaViewport} {
   		    @include backgroundImage($retinaBackground, $path);
   		}
   	}
}

@mixin iconRetina($defaultImage, $retinaImage, $width, $height:$width, $rootPath:$root-path) {
	@include size($width, $height);
	@if $use-root-path == false{
		@include backgroundRetinaIcon($defaultImage, $retinaImage, $width, $height);
	}
	@else{
		@include backgroundRetinaIcon($defaultImage, $retinaImage, $width, $height, $rootPath);
	}
	background-position: center;
}

@mixin backgroundRetinaIcon(
	$defaultImage ,
    $retinaImage  : $defaultImage,
    $width        : 100%,
    $height       : $width,
    $rootPath	  : $root-path
    ) {

	@if $use-root-path == false{
		@include backgroundImage($defaultImage);
		background-size:$width $height;
		background-repeat: no-repeat;
		@media #{$display-retina} {
			@include backgroundImage($retinaImage);
		}
	}
	@else{
		@include backgroundImage($defaultImage, $rootPath);
		background-size:$width $height;
		background-repeat: no-repeat;
		@media #{$display-retina} {
			@include backgroundImage($retinaImage, $rootPath);
		}
	}
}

@mixin fillRetinaImage(
	$standardImage  ,
    $retinaImage    : $standardImage,
    $backgroundSize : false,
    $rootPath		: $root-path
    ) {

    @if $use-root-path == false{
    	@include fillImage($standardImage);
	    @include property(background-size, $backgroundSize);

	    @media #{$display-retina} {
	        @include fillImage($retinaImage);
	    }
    }@else{
    	@include fillImage($standardImage, $rootPath);
	    @include property(background-size, $backgroundSize);

	    @media #{$display-retina} {
	        @include fillImage($retinaImage, $rootPath);
	    }
    }
}
