@mixin fallbackColor($property, $color, $fallbackColor: $color){
    @if $use-fallbacks == true {
        @if alpha($fallbackColor) == 0 {
            #{$property}: transparent;
        } @elseif alpha($fallbackColor) > 0 {
            #{$property}: rgb(red($fallbackColor), green($fallbackColor), blue($fallbackColor));
        }
    }
    #{$property}: $color;
}

@mixin fallbackBackgroundSize($backgroundSize, $backgroundSizeAlt:false, $backgroundPosition: 50% 50%) {
    @if $use-fallbacks == true and $backgroundSizeAlt != false {
        background-position: $backgroundPosition;
        background-size: $backgroundSizeAlt;
    }

    background-size: $backgroundSize;
}
