$debug-box-shadow: inset 0 0 0 1px;
$debug-color-off: rgba(255, 0, 255, 0.3) !default;
$debug-color-on: rgba(255, 0, 255, 0.6) !default;
$debug-duration: 4s !default;
$-debug-keyframes: false;

@mixin -debug-animation {
  @if $-debug-keyframes == false {
    $-debug-keyframes: true !global;
    @keyframes f-debug-highlight {
      0% {
        box-shadow: $debug-box-shadow $debug-color-off;
      }

      50% {
        box-shadow: $debug-box-shadow $debug-color-on;
      }

      100% {
        box-shadow: $debug-box-shadow $debug-color-off;
      }
    }
  }
}

/*
  @a-pollo-doc
  @author: Vittorio Vittori
  @title: Debug
  @category: Mixins
  @code: Example on using the mixin
    .selector {
      @include debug;
    }
  @date: 2017-05-09T17:03:02+02:00
  @type: mixin
  @icon: fa fa-bug
  @name: debug
  @public: true
  @returns: css
  @text: A simple element outliner based on box shadow, to see the structure of elements groups
  @version: 4.0.0
*/

@mixin debug {
  @include -debug-animation;

  animation: f-debug-highlight $debug-duration infinite;
  box-shadow: $debug-box-shadow $debug-color-off;
  min-height: 3px;

  * {
    animation: f-debug-highlight $debug-duration infinite;
    box-shadow: $debug-box-shadow $debug-color-off;
    min-height: 3px;
  }
}
