// Url - http://www.w3schools.com/cssref/css3_pr_transform.asp
@mixin blur($blur:0) {
    @include filter(blur(#{$blur}));
}

@mixin grayscale($grayscale:0%){
    @if $use-ie-filters == true {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+, Firefox on Android
        filter: gray; // IE 6-9
    }
}
@mixin greyscale($greyscale:0%) {
    // LESS bug fix, grayscale filter missing
    // thanks to @scott http://stackoverflow.com/questions/14608886/grayscale-not-working-with-less
    $filterString: "grayscale(#{$greyscale})";
    @include filter($filterString);
}

@mixin brightness($brightness: 1) {
    @include filter(brightness($brightness));
}

@mixin hue-rotate($hue: 120deg) {
    @include filter(hue-rotate($hue));
}

@mixin invert($invert: 0) {
    @include filter(invert($invert));
}

@mixin opacity($opacity: 1) {
    @include filter(opacity($opacity));
}

@mixin sepia($sepia: 1) {
    @include filter(sepia($sepia));
}
