@mixin size($width:16px, $height:$width, $scale:1, $setBoxSizing:false) {
    @if $setBoxSizing == true {
        @include box-sizing("border-box");
    }

    @if type-of($width) == 'number' {
        $unitWidth: getUnit($width);
        width: (removeUnit($width) * removeUnit($scale))#{$unitWidth};
    } @else {
        width: $width;
    }

    @if type-of($height) == 'number' {
        $unitHeight: getUnit($height);
        height: (removeUnit($height) * removeUnit($scale))#{$unitHeight};
    } @else {
        height: $height;
    }

}
