@mixin size($width:16px, $height:$width, $scale:1, $setBoxSizing:true) {
	$unit_num: getUnit($width);

	@if type-of($width) == 'number' and  type-of($height) == 'number'{
		width: (removeUnit($width) * removeUnit($scale))#{$unit_num};
		height: (removeUnit($height) * removeUnit($scale))#{$unit_num};
	}
	@if type-of($width) == 'number' and  type-of($height) != 'number'{
		width: $width;
		height: $height;
	}
	@if type-of($width) != 'number' and  type-of($height) == 'number'{
		width: $width;
		height: $height;
	}
	@if type-of($width) != 'number' and  type-of($height) != 'number'{
		width: $width;
		height: $height;
	}
	@if $setBoxSizing == true{
		@include box-sizing(border-box);
	}
}
