@mixin size($width:16px, $height:$width, $scale:1, $setBoxSizing:true) {
    @if $setBoxSizing == true{
        @include box-sizing(border-box);
    }

    $unitWidth: getUnit($width);
    $unitHeight: getUnit($height);

    @if type-of($width) == 'number' and  type-of($height) == 'number'{
        width: (removeUnit($width) * removeUnit($scale))#{$unitWidth};
        height: (removeUnit($height) * removeUnit($scale))#{$unitHeight};
    }
    @if type-of($width) == 'number' and  type-of($height) != 'number'{
        width: $width;
        height: $height;
    }
    @if type-of($width) != 'number' and  type-of($height) == 'number'{
        width: $width;
        height: $height;
    }
    @if type-of($width) != 'number' and  type-of($height) != 'number'{
        width: $width;
        height: $height;
    }
}
