@mixin sprite($image, $width, $height:$width, $backgroudSize:auto, $path:$path-img, $setBoxsizing:true) {
    @if $use-root-path == false{
        @include backgroundImage($image, $path);
    }
    @else{
        @include backgroundImage($image, $path);
    }

    $_spriteLastWidth  : $width;
    $_spriteLastHeight : $height;
    background-repeat : no-repeat;
    background-size   : $backgroudSize;
    @include size($width, $height, 1, $setBoxsizing);
}
@mixin spritePosition($horizontalPosition:0, $verticalPosition:0, $width:$_spriteLastWidth, $height:$_spriteLastHeight){
    @if ($horizontalPosition == 0) and ($verticalPosition != 0){
        background-position : 0 (-#{($verticalPosition*$height)});
    }
    @else{
        @if ($verticalPosition == 0) and ($horizontalPosition != 0){
            background-position :  (-#{($horizontalPosition*$width)}) 0;
        }
        @else {
            @if ($verticalPosition == 0) and ($horizontalPosition == 0){
                background-position : 0 0;
            }
            @else {
                @if ($verticalPosition != 0) and ($horizontalPosition != 0){
                    background-position : (-#{($horizontalPosition*$width)}) (-#{($verticalPosition*$height)});
                }
            }
        }
    }
}

@mixin spriteCoordinates($positionX:0, $positionY:0) {
    background-position: (-$positionX) (-$positionY);
}

@mixin scaleBackgroundSize($scale, $width:$_spriteLastWidth, $height:$_spriteLastHeight) {
    background-size: ($width*$scale) ($height*$scale);
}

@mixin setSprite($selector, $horizontalPosition:0, $verticalPosition:0, $width:$_spriteLastWidth, $height:$_spriteLastHeight, $scale:1) {
    &.#{$selector} {
        @include spritePosition($horizontalPosition, $verticalPosition, ($width*$scale), ($height*$scale));
    }
}

@mixin scaleSprite($scale, $spriteWidth, $spriteHeight, $backgroundWidth, $backgroundHeight) {
    @include size($spriteWidth, $spriteHeight, $scale);
    @include scaleBackgroundSize($scale, $backgroundWidth, $backgroundHeight);
}
