@mixin asTable($cellPadding:$global-padding, $verticalAlign:middle, $tableWidth:100%) {
	@if $tableWidth != false {
    	width : $tableWidth;
	}

    display : table;
    > * {
        @include asTableRow($cellPadding, $verticalAlign);
    }
}

@mixin asTableRow($cellPadding:$global-padding, $verticalAlign:middle) {
	display : table-row;
    float   : none;
	> * {
		@include asTableCell($cellPadding, $verticalAlign);
	}
}

@mixin asTableCell($cellPadding:$global-padding, $verticalAlign:middle) {
	display        : table-cell;
    float          : none;
    padding        : $cellPadding;
    vertical-align : $verticalAlign;
}