@mixin asTable($cellPadding:false, $verticalAlign:middle, $tableWidth:100%, $borderCollapse:separate) {
    @if $tableWidth != false {
        width : $tableWidth;
    }
    display : table;
    @if $borderCollapse != separate {
        border-collapse: $borderCollapse;
    }
    > * {
        @include asTableRow($cellPadding, $verticalAlign);
    }
}

@mixin asTableRow($cellPadding:false, $verticalAlign:middle) {
    display : table-row;
    float   : none;
    > * {
        @include asTableCell($cellPadding, $verticalAlign);
    }
}

@mixin asTableCell($cellPadding:false, $verticalAlign:middle) {
    display: table-cell;
    float: none;
    @if ($cellPadding != false) {
        padding: $cellPadding;
    }
    vertical-align: $verticalAlign;
}
