@mixin area-hifi($hifiColor:#3d4041) {
	z-index: 10;
	border-bottom:1px solid lighten($hifiColor,8%);
	@include verticalGradient(opacify($hifiColor,0.95),-5%);
	@include box-shadow(0 0 4px rgba(0,0,0,.5));
}

@mixin button-hifi($hifiColor:#3d4041, $color:#b1b1b1) {
	display: inline-block;
	padding:.25em .75em;
	border-bottom: none;

	@include fallbackColor(color, $color);
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	white-space: nowrap;

	background-color: transparent;

	@include border-radius(100px);
	$p:.3s ease-in-out;
	@include transition("color #{$p}, background-color #{$p}, box-shadow #{$p}");
	
	&:hover,
	&.active,
	&.selected {
		color:white;
		@include fallbackColor(background-color, $hifiColor);
		@include box-shadow("0 1px 4px rgba(0,0,0,.45), 0 1px 2px rgba(255,255,255,.1) inset");
	}
	
	&.selected {
		cursor: default;
	}
}

.area-hifi{ 
	@include area-hifi();
}
.button-hifi{ 
	@include button-hifi();
}