@mixin paginator-circular($containerLinkPadding:0 0.5em, $linkPadding:0.5em 0.875em, $backgroundColor:white, $color:#7b8284, $border:1px solid, $borderColor:#e2e2e2, $borderRadius:200px) {
	display:inline-block;
	padding: 0;

	> * {

		@include asTableCell($containerLinkPadding, middle);

		> * {
			padding:$linkPadding;
			@include fallbackColor(color, $color);
            @include fallbackColor(background-color, $backgroundColor);

			border:$border;
			@include fallbackColor(border-color, $borderColor);
			@include border-radius($borderRadius);

			@include transition("box-shadow 0.25s ease-out, border-color 0.25s ease-out, background-color 0.25s ease-out, color 0.25s ease-out");

			&.paginator-text {
				@include fallbackColor(background-color, transparent);
                @include fallbackColor(border-color, transparent);
			}

			&:hover {
				@include fallbackColor(color, lighten($color,5%));
                @include fallbackColor(border-color, darken($borderColor,12%));
                @include fallbackColor(background-color, lighten($backgroundColor,5%));
				@include box-shadow("0 1px 6px rgba(0,0,0,.2), 0 0 0 rgba(0,0,0,0) inset");
				&.paginator-text {
					@include fallbackColor(color, lighten($color,20%));
                    @include fallbackColor(background-color, transparent);
                    @include fallbackColor(border-color, transparent);
					@include box-shadow(none);
				}
			}

			&:active,
			&.selected {
				cursor:default;
				@include fallbackColor(color, lighten($color,5%));
                @include fallbackColor(border-color, darken($borderColor,12%));
                @include fallbackColor(background-color, darken($backgroundColor,5%));
				@include box-shadow("0 0 6px rgba(0,0,0,.2) inset, 0 0 0 rgba(0,0,0,0)");
			}
		}
	}
}

.paginator-circular{ 
	@include paginator-circular();
}