@mixin pic($borderWidth:3px, $boxShadow:0 2px 3px rgba(0,0,0,0.2), $outlineOpacity:0.2) {
	border:$borderWidth solid white;
	line-height: 0;
	@include outlineBoxShadow($outlineOpacity, $boxShadow);
	&:hover {
		border:$borderWidth solid white;
	}
}

.pic{ 
	@include pic();
}