$frontsize-release-infos: true !default;
@if $frontsize-release-infos == true {
  /*!

  GitHub:    https://github.com/ideatosrl/frontsize
  License:   MIT Licence
  Version:   4.0.1
  Date:      2017-06-05T12:14:36+02:00
  Authors:   Vittorio Vittori, Carla Soloperto, Alessandro Minoccheri, Moreno Giorgini

  */
}
