$frontsize-release-infos: true !default;
@if $frontsize-release-infos == true {
  /*!

  GitHub:    https://github.com/ideatosrl/frontsize
  License:   MIT Licence
  Version:   4.0.4
  Date:      2017-07-22T11:59:04+02:00
  Authors:   Vittorio Vittori, Carla Soloperto, Alessandro Minoccheri, Moreno Giorgini

  */
}
