@if $use-core-base == true {

    *, *:before, *:after,
    a,
    abbr,
    acronym,
    address,
    applet,
    area,
    article,
    aside,
    audio,
    b,
    base,
    basefont,
    bdi,
    bdo,
    big,
    blockquote,
    body,
    br,
    button,
    canvas,
    caption,
    center, // deprecated
    cite,
    code,
    col,
    colgroup,
    command,
    datalist,
    dd,
    del,
    details,
    dfn,
    dir,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    font, // deprecated
    footer,
    form,
    frame,
    frameset,
    h1, h2, h3, h4, h5, h6
    head,
    header,
    hgroup,
    hr,
    html,
    html,
    i,
    iframe,
    img,
    input,
    ins
    kbd,
    keygen,
    label,
    legend,
    li,
    link,
    map,
    mark,
    menu,
    meta,
    meter,
    nav,
    noframes,
    noscript,
    object,
    ol,
    optgroup,
    option,
    output,
    p,
    param,
    pre,
    progress,
    q,
    rp,
    rt,
    ruby,
    s,
    samp,
    script,
    section,
    select,
    small,
    source,
    span,
    strike,
    strong,
    style,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    textarea,
    tfoot,
    th,
    thead,
    time,
    title,
    tr,
    track,
    tt,
    u,
    ul,
    var,
    video,
    wbr {
        @include box-sizing("border-box");
    }

    body {
        margin: 0;
        padding: 0;
        position: relative;
    }

    span,
    div,
    b,
    strong {
        &[title] {
            cursor: help;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    a[title],
    a strong[title],
    a span[title],
    a div[title],
    a b[title] {
        cursor: pointer;
    }

    p,
    blockquote,
    dl, dt, dd,
    figure,
    figcaption,
    div,
    hr,
    article,
    nav,
    aside,
    main,
    section,
    header,
    footer,
    h1, h2, h3, h4, h5, h6
    hgroup,
    address {
        margin:0;
        padding:0;
    }

    ul {
        text-align: left;
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;
            li {
                margin-left:0;
            }
        }
    }
}
