@mixin text-buried($color:black, $light:rgba(255,255,255,.05), $offset:1px) {
	// <div alt="Text Buried">Text Buried</div>
	display: inline-block;
	position: relative;

	@include fallbackColor(color, $color);
	text-shadow:none;

	&:before, &:after {
		content: attr(alt);
		position: absolute;
		@include fallbackColor(color, $light);
	}
	&:before {
		top:$offset;
		left:$offset;
	}
	&:after {
		top:$offset;
		left:$offset;
	}
}
