// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==               FONTS               ===================================================================================================================================
// ==           CONFIGURATION           ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

@include useFrontsizeWidgets();

// set font scaling to change the font size depending by different resolutions
//.setFontScaling();
//.headingsFont();
//.addFontsRule(with-small-fonts, $font-default, $font-small-size, antialiased, $font-default, 14px, antialiased, $font-default, 14px, antialiased);


// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==             ADVANCED              ===================================================================================================================================
// ==           CONFIGURATION           ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================


// comment what you don't need to gain weight for your CSS file.
//.addContainerRow(selector-name, $hd-full-columns, $hd-ready-columns, $tablet-landscape-columns, $tablet-portrait-columns, $smartphone-landscape-columns, $smartphone-portrait-columns);
//.addContainerRow(row);

// set the margins
//.addColumnsSet(12);
//.addViewportsSteps(use-steps, 500px, 100px, 50px, 0px);

