
// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==               THEME               ===================================================================================================================================
// ==            CUSTOM VARS            ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

$yourCustomVar:#FFFFFF;
