/*
  @a-pollo-doc
  @author: Vittorio Vittori
  @category: Core vars
  @code: To use core base reset behavior just set to `true` the var `$use-core-base`
    $use-core-base: true
  @date: 2017-02-20T14:48:35+01:00
  @type: var
  @name: Base
  @param: {boolean} ($use-core-base) [true]
          Enables CSS core reset styles
  @public: true
  @text: This core var is used to load default reset CSS behavior
  @version: 4.0.0
*/

@if $use-core-base == true {

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    position: relative;
  }

  span,
  div,
  b,
  strong {
    &[title] {
      cursor: help;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    b,
    div,
    span,
    strong[title] {
      cursor: pointer;
    }
  }

  p,
  blockquote,
  dl,
  dt,
  dd,
  figure,
  figcaption,
  div,
  hr,
  article,
  nav,
  aside,
  main,
  section,
  header,
  footer,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  address {
    margin: 0;
    padding: 0;
  }

  ul {
    text-align: left;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-left: 0;
      }
    }
  }
}
