@mixin addMarginRule($selector, $hdFullMargin:6em, $hdReadyMargin:5em, $tabletLandscapeMargin:4em, $tabletPortraitMargin:3em, $smartphoneLandscapeMargin:2em, $smartphonePortraitMargin:1em) {
    // Media queries for selectors active from a specific resolution or higher
    @include addMarginRuleSmartphonePortrait($selector, $smartphonePortraitMargin);
    @include addMarginRuleSmartphoneLandscape($selector, $smartphoneLandscapeMargin);
    @include addMarginRuleTabletPortrait($selector, $tabletPortraitMargin);
    @include addMarginRuleTabletLandscape($selector, $tabletLandscapeMargin);
    @include addMarginRuleHdReady($selector, $hdReadyMargin);
    @include addMarginRuleHdFull($selector, $hdFullMargin);
}
/* private */@mixin addMarginRuleSmartphonePortrait($selector, $smartphonePortraitMargin) {
    @if $use-smartphone-portrait == true {
        @media #{$from-smartphone-portrait} {
            // Smartphone portrait
            .#{$selector} { margin: $smartphonePortraitMargin; }
        }
    }
}
/* private */@mixin addMarginRuleSmartphoneLandscape($selector, $smartphoneLandscapeMargin) {
    @if $use-smartphone-landscape == true {
        @media #{$from-smartphone-landscape} {
            // Smartphone landscape
            .#{$selector} { margin: $smartphoneLandscapeMargin; }
        }
    }
}
/* private */@mixin addMarginRuleTabletPortrait($selector, $tabletPortraitMargin) {
    @if $use-tablet-portrait == true {
        @media #{$from-tablet-portrait} {
            // Tablet portrait
            .#{$selector} { margin: $tabletPortraitMargin; }
        }
    }
}
/* private */@mixin addMarginRuleTabletLandscape($selector, $tabletLandscapeMargin) {
    @if $use-tablet-landscape == true {
        @media #{$from-tablet-landscape} {
            // Tablet landscape
            .#{$selector} { margin: $tabletLandscapeMargin; }
        }
    }
}
/* private */@mixin addMarginRuleHdReady($selector, $hdReadyMargin) {
    @if $use-hd-ready == true {
        @media #{$from-hd-ready} {
            // HD Ready
            .#{$selector} { margin: $hdReadyMargin; }
        }
    }
}
/* private */@mixin addMarginRuleHdFull($selector, $hdFullMargin) {
    @if $use-hd-full == true {
        @media #{$from-hd-full} {
            // Full HD
            .#{$selector} { margin: $hdFullMargin; }
        }
    }
}

@mixin setViewportsMargin($hdFullMargin:6em, $hdReadyMargin:5em, $tabletLandscapeMargin:4em, $tabletPortraitMargin:3em, $smartphoneLandscapeMargin:2em, $smartphonePortraitMargin:1em) {
    // Media queries for selectors active from a specific resolution or higher
    @include setViewportsMarginSmartphonePortrait($smartphonePortraitMargin);
    @include setViewportsMarginSmartphoneLandscape($smartphoneLandscapeMargin);
    @include setViewportsMarginTabletPortrait($tabletPortraitMargin);
    @include setViewportsMarginTabletLandscape($tabletLandscapeMargin);
    @include setViewportsMarginHdReady($hdReadyMargin);
    @include setViewportsMarginHdFull($hdFullMargin);
}
/* private */@mixin setViewportsMarginSmartphonePortrait($smartphonePortraitMargin) {
    @if $use-smartphone-portrait == true {
        @media #{$from-smartphone-portrait} {
            // Smartphone portrait
            margin: $smartphonePortraitMargin;
        }
    }
}
/* private */@mixin setViewportsMarginSmartphoneLandscape($smartphoneLandscapeMargin) {
    @if $use-smartphone-landscape == true {
        @media #{$from-smartphone-landscape} {
            // Smartphone landscape
            margin: $smartphoneLandscapeMargin;
        }
    }
}
/* private */@mixin setViewportsMarginTabletPortrait($tabletPortraitMargin) {
    @if $use-tablet-portrait == true {
        @media #{$from-tablet-portrait} {
            // Tablet portrait
            margin: $tabletPortraitMargin;
        }
    }
}
/* private */@mixin setViewportsMarginTabletLandscape($tabletLandscapeMargin) {
    @if $use-tablet-landscape == true {
        @media #{$from-tablet-landscape} {
            // Tablet landscape
            margin: $tabletLandscapeMargin;
        }
    }
}
/* private */@mixin setViewportsMarginHdReady($hdReadyMargin) {
    @if $use-hd-ready == true {
        @media #{$from-hd-ready} {
            // HD Ready
            margin: $hdReadyMargin;
        }
    }
}
/* private */@mixin setViewportsMarginHdFull($hdFullMargin) {
    @if $use-hd-full == true {
        @media #{$from-hd-full} {
            // Full HD
            margin: $hdFullMargin;
        }
    }
}

@mixin addMarginSelector($selector:false, $verticalMargin:$vertical-margin, $horizontalMargin:$horizontal-margin){
    @if $selector != false{
        #{$selector}-margin {
            margin: $verticalMargin $horizontalMargin #{$important};
        }
        #{$selector}-margin-vertical {
            margin-bottom: $verticalMargin #{$important};
            margin-top: $verticalMargin #{$important};
        }
        #{$selector}-margin-bottom {
            margin-bottom: $verticalMargin #{$important};
        }
        #{$selector}-margin-top {
            margin-top: $verticalMargin #{$important};
        }
        #{$selector}-margin-horizontal {
            margin-left: $horizontalMargin #{$important};
            margin-right: $horizontalMargin #{$important};
        }
        #{$selector}-margin-left {
            margin-left: $horizontalMargin #{$important};
        }
        #{$selector}-margin-right {
            margin-right: $horizontalMargin #{$important};
        }
    }
    @else{
        .with-margin {
            margin: $verticalMargin $horizontalMargin #{$important};
        }
        .margin-vertical {
            margin-bottom: $verticalMargin #{$important};
            margin-top: $verticalMargin #{$important};
        }
        .margin-bottom {
            margin-bottom: $verticalMargin #{$important};
        }
        .margin-top {
            margin-top: $verticalMargin #{$important};
        }
        .margin-horizontal {
            margin-left: $horizontalMargin #{$important};
            margin-right: $horizontalMargin #{$important};
        }
        .margin-left {
            margin-left: $horizontalMargin #{$important};
        }
        .margin-right {
            margin-right: $horizontalMargin #{$important};
        } 
    }
}
