@mixin addPaddingRule(
    $selector,
    $hdFullPadding:6em,
    $hdReadyPadding:5em,
    $tabletLandscapePadding:4em,
    $tabletPortraitPadding:3em,
    $mobileLandscapePadding:2em,
    $mobilePortraitPadding:1em) {

    @include _addPaddingRule($from-mobile-portrait,  $selector, $mobilePortraitPadding);
    @include _addPaddingRule($from-mobile-landscape, $selector, $mobileLandscapePadding);
    @include _addPaddingRule($from-tablet-portrait,  $selector, $tabletPortraitPadding);
    @include _addPaddingRule($from-tablet-landscape, $selector, $tabletLandscapePadding);
    @include _addPaddingRule($from-hd-ready,         $selector, $hdReadyPadding);
    @include _addPaddingRule($from-hd-full,          $selector, $hdFullPadding);
}

@mixin _addPaddingRule($viewport, $selector, $padding) {
    @if $use-mobile-portrait == true {
        @media #{$viewport} {
            .#{$selector} {
                padding : $padding;
            }
        }
    }
}

@mixin setViewportsPadding(
    $hdFullPadding:6em,
    $hdReadyPadding:5em,
    $tabletLandscapePadding:4em,
    $tabletPortraitPadding:3em,
    $mobileLandscapePadding:2em,
    $mobilePortraitPadding:1em) {

    @include _setViewportsPadding($from-mobile-portrait,  $mobilePortraitPadding);
    @include _setViewportsPadding($from-mobile-landscape, $mobileLandscapePadding);
    @include _setViewportsPadding($from-tablet-portrait,      $tabletPortraitPadding);
    @include _setViewportsPadding($from-tablet-landscape,     $tabletLandscapePadding);
    @include _setViewportsPadding($from-hd-ready,             $hdReadyPadding);
    @include _setViewportsPadding($from-hd-full,              $hdFullPadding);
}

@mixin _setViewportsPadding($viewport, $padding) {
    @if $use-mobile-portrait == true {
        @media #{$viewport} {
            padding : $padding;
        }
    }
}

@mixin addPaddingSelector(
    $selector:false,
    $verticalPadding:$vertical-padding,
    $horizontalPadding:$horizontal-padding){

    @if selector == false {
        #{$selector}-padding {
            padding: $verticalPadding $horizontalPadding #{$important};
        }
        #{$selector}-padding-vertical {
            padding-bottom: $verticalPadding #{$important};
            padding-top: $verticalPadding #{$important};
        }
        #{$selector}-padding-bottom {
            padding-bottom: $verticalPadding #{$important};
        }
        #{$selector}-padding-top {
            padding-top: $verticalPadding #{$important};
        }
        #{$selector}-padding-horizontal {
            padding-left: $horizontalPadding #{$important};
            padding-right: $horizontalPadding #{$important};
        }
        #{$selector}-padding-left {
            padding-left: $horizontalPadding #{$important};
        }
        #{$selector}-padding-right {
            padding-right: $horizontalPadding #{$important};
        }
    }
    @else{
        .with-padding {
            padding: $verticalPadding $horizontalPadding #{$important};
        }
        .padding-vertical {
            padding-bottom: $verticalPadding #{$important};
            padding-top: $verticalPadding #{$important};
        }
        .padding-bottom {
            padding-bottom: $verticalPadding #{$important};
        }
        .padding-top {
            padding-top: $verticalPadding #{$important};
        }
        .padding-horizontal {
            padding-left: $horizontalPadding #{$important};
            padding-right: $horizontalPadding #{$important};
        }
        .padding-left {
            padding-left: $horizontalPadding #{$important};
        }
        .padding-right {
            padding-right: $horizontalPadding #{$important};
        }
    }
}
