/*
  @a-pollo-doc
  @author: Vittorio Vittori
  @category: Variables
  @code: To use media query default print behavior just set to `true` the var `$use-core-print`
    $use-core-print: true
  @date: 2017-02-20T17:01:46+01:00
  @type: var
  @icon: fa fa-print
  @name: print
  @param: {boolean} ($use-core-print) [true]
          Enables CSS default print media query behavior
  @public: true
  @text: This core var is used for print media query behavior
  @version: 4.0.0
*/

@if $use-core-print == true {

  $important: !important;
  $shadow: 0 0 0 white $important;
  $border: 0 $important;
  $color-ink: #000;

  @media print {
    body {
      background: none $important;
      color: $color-ink $important;
    }

    * {
      color: $color-ink $important;
      background-image: none $important;
      background-color: white $important;
      border: 0 $important;
      box-shadow: $shadow;
      border-radius: $border;
      text-shadow: 0 0 0 white $important;
    }

    a {
      color: $color-ink $important;
      border-bottom: 1px solid $color-ink $important;
      text-decoration: none $important;
    }

    @page {
      margin: 1cm;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $color-ink $important;
      orphans: 3;
      widows: 3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      page-break-after: avoid;
    }

    code {
      border: 1px solid $color-ink $important;
    }

    footer {
      clear: both $important;
    }
  }
}
