@mixin addViewportsSteps(
	$selector              : use-steps,
    $hdFullMargin          : 500px,
    $hdReadyMargin         : 100px,
    $tabletLandscapeMargin : 50px,
    $tabletPortraitMargin  : 20px
    ) {

	@include _addStep($selector);
    @include _addViewportsSteps($from-tablet-portrait,  $selector, $tablet-portrait-step,  $tabletPortraitMargin);
    @include _addViewportsSteps($from-tablet-landscape, $selector, $tablet-landscape-step, $tabletLandscapeMargin);
    @include _addViewportsSteps($from-hd-ready,         $selector, $hd-ready-step,         $hdReadyMargin);
    @include _addViewportsSteps($from-hd-full,          $selector, $hd-full-step,          $hdFullMargin);
}

@mixin _addViewportsSteps($viewport, $selector, $viewport-step, $margin) {
    @media #{$viewport} {
        .#{$selector} {
            max-width : ($viewport-step - $margin);
        }
    }
}
