/// Generates a container selector to create a centered column site
/// @author <a href="http://twitter.com/vttrx">Vittorio Vittori</a>
/// @group Sizing
/// @access public
/// @param {string} $selector - The name of the container element selector
/// @example scss Code to be put on app.scss
///     @include addViewportsSteps(use-steps, 1600px, 1024px, 0, 0);
/// @example css The CSS generated
///     .use-steps {
///      display: block;
///      margin-left: auto;
///      margin-right: auto;
///    }
///    @media only screen and (min-width: 768px), only print {
///      .use-steps {
///        max-width: 0;
///      }
///    }
///    @media only screen and (min-width: 1024px) {
///      .use-steps {
///        max-width: 0;
///      }
///    }
///    @media only screen and (min-width: 1280px) {
///      .use-steps {
///        max-width: 1024px;
///      }
///    }
///    @media only screen and (min-width: 1800px) {
///      .use-steps {
///        max-width: 1600px;
///      }
///    }

@mixin addViewportsSteps(
    $selector             : "with-steps",
    $hdFullWidth          : 0,
    $hdReadyWidth         : 0,
    $tabletLandscapeWidth : 0,
    $tabletPortraitWidth  : 0
    ) {

    @include _addStep($selector, 100%);

    @include _addViewportsSteps($from-tablet-portrait,  $selector, $tablet-portrait-step,  $tabletPortraitWidth);
    @include _addViewportsSteps($from-tablet-landscape, $selector, $tablet-landscape-step, $tabletLandscapeWidth);
    @include _addViewportsSteps($from-hd-ready,         $selector, $hd-ready-step,         $hdReadyWidth);
    @include _addViewportsSteps($from-hd-full,          $selector, $hd-full-step,          $hdFullWidth);
}

@mixin _addViewportsSteps($viewportRule, $selector, $viewportWidth, $width) {
    $width: _clean($width);
    @if $width != 0 {
        @media #{$viewportRule} {
            .#{$selector} {
                @if $width <= $viewportWidth {
                    max-width : $width;
                } @else {
                    max-width : $viewportWidth;
                }
            }
        }
    }
}
