@mixin setLineHeightScaling($selector:body, $hdFull:$font-line-height, $hdReady:$font-line-height, $tabletLandscape:$font-line-height, $tabletPortrait:$font-line-height, $smartphoneLandscape:$font-line-height, $smartphonePortrait:$font-line-height) {
    @include setLineHeightScalingSmartphonePortrait($selector, $smartphonePortrait);
    @include setLineHeightScalingSmartphoneLandscape($selector, $smartphoneLandscape);
    @include setLineHeightScalingTabletPortrait($selector, $tabletPortrait);
    @include setLineHeightScalingTabletLandscape($selector, $tabletLandscape);
    @include setLineHeightScalingHdReady($selector, $hdReady);
    @include setLineHeightScalingHdFull($selector, $hdFull);
}

@mixin setLineHeightScalingSmartphonePortrait($selector, $smartphonePortrait){
	@if ($use-smartphone-portrait == true){
	    @media #{$from-smartphone-portrait} {
	        // Smartphone portrait
	        #{$selector}{
	            line-height: $smartphonePortrait;
	        }
    	}
	}
}
@mixin setLineHeightScalingSmartphoneLandscape($selector, $smartphoneLandscape){
	@if ($use-smartphone-landscape == true){
	    @media #{$from-smartphone-landscape} {
	        // Smartphone landscape
	        #{$selector}{
	            line-height: $smartphoneLandscape;
	        }
	    }
 	}   
}
@mixin setLineHeightScalingTabletPortrait($selector, $tabletPortrait){
	@if ($use-tablet-portrait == true){
	    @media #{$from-tablet-portrait} {
	        // Tablet portrait
	        #{$selector}{
	            line-height: $tabletPortrait;
	        }
	    }
	}
}
@mixin setLineHeightScalingTabletLandscape($selector, $tabletLandscape){
	@if ($use-tablet-landscape == true){
	    @media #{$from-tablet-landscape} {
	        // Tablet landscape
	        #{$selector}{
	            line-height: $tabletLandscape;
	        }
	    }
	}
}
@mixin setLineHeightScalingHdReady($selector, $hdReady){
    @if ($use-hd-ready == true){
	    @media #{$from-hd-ready} {
	        // HD Ready
	        #{$selector}{
	            line-height: $hdReady;
	        }
	    }
	}
}
@mixin setLineHeightScalingHdFull($selector, $hdFull){
	@if ($use-hd-full == true){
	    @media #{$from-hd-full} {
	        // Full HD
	        #{$selector}{
	            line-height: $hdFull;
	        }
	    }
	}
}

@mixin setFontScaling($selector, $hdFull:($font-size + ($font-size/2)), $hdReady:($font-size + ($font-size/4)), $tabletLandscape:$font-size, $tabletPortrait:$font-size, $smartphoneLandscape:$font-size, $smartphonePortrait:$font-size, $lineHeightMultiplier:$font-line-height) {
	// Media queries for selectors active from a specific resolution or higher
	@if ($use-smartphone-portrait == true){
		@media #{$from-smartphone-portrait}{
			// Smartphone portrait
			#{$selector}{
				font-size: $smartphonePortrait;
				line-height: $lineHeightMultiplier;
			}
		}
	}

	@if ($use-smartphone-landscape == true){
		@media #{$from-smartphone-landscape} {
			// Smartphone landscape
			#{$selector}{
				font-size: $smartphoneLandscape;
				line-height: $lineHeightMultiplier;
			}
		}
	}

	@if ($use-tablet-portrait == true){
		@media #{$from-tablet-portrait} {
			// Tablet portrait
			#{$selector}{
				font-size:$tabletPortrait;
				line-height: $lineHeightMultiplier;
			}
		}
	}

	@if ($use-tablet-landscape == true){
		@media #{$from-tablet-landscape} {
			// Tablet landscape
			#{$selector}{
				font-size:$tabletLandscape;
				line-height: $lineHeightMultiplier;
			}
		}
	}

	@if ($use-hd-ready == true){
		@media #{$from-hd-ready} {
			// HD Ready
			#{$selector}{
				font-size:$hdReady;
				line-height: $lineHeightMultiplier;
			}
		}
	}

	@if ($use-hd-full == true){
		@media #{$from-hd-full} {
			// Full HD
			#{$selector}{
				font-size:$hdFull;
				line-height: $lineHeightMultiplier;
			}
		}
	}
}

@mixin addFontsRule($selector:with-small-fonts, $fontFamilyHd:$font-small, $fontSizeHd:0.75em, $antialiasHd:antialiased, $fontFamilyTablet:$font-small, $fontSizeTablet:0.75em, $antialiasTablet:antialiased, $fontFamilySmartphone:$font-small, $fontSizeSmartphone:0.85em, $antialiasSmartphone:subpixel-antialiased) {
	// Media queries for selectors active from a specific resolution or higher
	@if ($use-hd-ready == true){
		@media #{$from-hd-ready} {
			// HD Ready
			 .#{$selector}{
				font-family:$fontFamilyHd;
				font-size:$fontSizeHd;
				@include font-smoothing($antialiasHd);
			}
		}
	}

	@if ($use-hd-full == true){
		@media #{$from-hd-full} {
			// Full HD
			.#{$selector}{
				font-family:$fontFamilyHd;
				font-size:$fontSizeHd;
				@include font-smoothing($antialiasHd);
			}
		}
	}

	@if ($use-tablet-portrait == true){
		@media #{$from-tablet-portrait} {
			// Tablet portrait
			.#{$selector}{
				font-family:$fontFamilyTablet;
				font-size:$fontSizeTablet;
				@include font-smoothing($antialiasTablet);
			}
		}
	}

	@if ($use-tablet-landscape == true){
		@media #{$from-tablet-landscape} {
			// Tablet landscape
			.#{$selector}{
				font-family:$fontFamilyTablet;
				font-size:$fontSizeTablet;
				@include font-smoothing($antialiasTablet);
			}
		}
	}

	@if ($use-smartphone-portrait == true){
		@media #{$from-smartphone-portrait} {
			// Smartphone portrait
			.#{$selector}{
				font-family:$fontFamilySmartphone;
				font-size:$fontSizeSmartphone;
				@include font-smoothing($antialiasSmartphone);
			}
		}
	}

	@if ($use-smartphone-landscape == true){
		@media #{$from-smartphone-landscape} {
			// Smartphone landscape
			.#{$selector}{
				font-family:$fontFamilySmartphone;
				font-size:$fontSizeSmartphone;
				@include font-smoothing($antialiasSmartphone);
			}
		}
	}
}

@mixin setHeadingFont($hdFullFontSize:1.5em, $hdReadyFontSize:1.25em, $tabletLandscapeFontSize:1.125em, $tabletPortraitFontSize:1.125em, $smartphoneLandscapeFontSize:1em, $smartphonePortraitFontSize:1em) {
	// Media queries for selectors active from a specific resolution or higher
	@if ($use-smartphone-portrait == true){
		@media #{$from-smartphone-portrait} {
			$unit_num: getUnit($smartphonePortraitFontSize);
			// Smartphone portrait
			h1 {
				font-size: (removeUnit($h1) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h6 {
				font-size: (removeUnit($h6) * removeUnit($smartphonePortraitFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($smartphonePortraitFontSize) / 4)#{$unit_num};
			}
		}
	}

	@if ($use-smartphone-landscape == true){
		@media #{$from-smartphone-landscape} {
			$unit_num: getUnit($smartphoneLandscapeFontSize);
			// Smartphone landscape
			h1 {
				font-size: (removeUnit($h1) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h6 {
				font-size: (removeUnit($h6) * removeUnit($smartphoneLandscapeFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($smartphoneLandscapeFontSize) / 4)#{$unit_num};
			}
		}
	}

	@if ($use-tablet-portrait == true){
		@media #{$from-tablet-portrait} {
			$unit_num: getUnit($tabletPortraitFontSize);
			// Tablet portrait
			h1 {
				font-size: (removeUnit($h1) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h6 {
	 			font-size: (removeUnit($h6) * removeUnit($tabletPortraitFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($tabletPortraitFontSize) / 4)#{$unit_num};
			}
		}
	}

	@if ($use-tablet-landscape == true){
		@media #{$from-tablet-landscape} {
			$unit_num: getUnit($tabletLandscapeFontSize);
			// Tablet landscape
			h1 {
				font-size: (removeUnit($h1) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h6 {
				font-size: (removeUnit($h6) * removeUnit($tabletLandscapeFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($tabletLandscapeFontSize) / 4)#{$unit_num};
			}
		}
	}

	@if ($use-hd-ready == true){
		@media #{$from-hd-ready} {
			$unit_num: getUnit($hdReadyFontSize);
			// HD Ready
			h1 {
				font-size: (removeUnit($h1) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h6 {
				font-size: (removeUnit($h6) * removeUnit($hdReadyFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($hdReadyFontSize) / 4)#{$unit_num};
			}
		}
	}

	@if ($use-hd-full == true){
		@media #{$from-hd-full} {
			$unit_num: getUnit($hdReadyFontSize);
			// Full HD
			h1 {
				font-size: (removeUnit($h1) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h2 {
				font-size: (removeUnit($h2) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h3 {
				font-size: (removeUnit($h3) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h4 {
				font-size: (removeUnit($h4) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h5 {
				font-size: (removeUnit($h5) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h6 {
				font-size: (removeUnit($h6) * removeUnit($hdFullFontSize))#{$unit_num};
			}
			h1, h2, h3, h4, h5, h6 {
				margin-bottom: (removeUnit($hdFullFontSize) / 4)#{$unit_num};
			}
		}
	}
}

@mixin addFontRule(
	$selector, 
	$fontFamily:$font-default, 
	$hdFullFontSize:$font-size, 
	$hdReadyFontSize:$hdFullFontSize, 
	$tabletLandscapeFontSize:$hdReadyFontSize, 
	$tabletPortraitFontSize:$tabletLandscapeFontSize, 
	$smartphoneLandscapeFontSize:$tabletPortraitFontSize, 
	$smartphonePortraitFontSize:$smartphoneLandscapeFontSize, 
	$antialias:subpixel-antialiased, 
	$lineHeightMultiplier:$global-step) {
	// Media queries for selectors active from the smaller resolution to a specific one
	.#{$selector} {
		font-family : $fontFamily;
		line-height : $lineHeightMultiplier;
		@include font-smoothing($antialias);
	}
	@if ($use-hd-full == true){
		@media #{$from-hd-full} {
			// Full HD
			.#{$selector} {
				font-size:$hdFullFontSize !important;
			}
		}
	}

	@if ($use-hd-ready == true){
		@media #{$till-hd-full} {
			// HD Ready
			.#{$selector} {
				font-size:$hdReadyFontSize !important;
			}
		}
	}

	@if ($use-tablet-landscape == true){
		@media #{$till-hd-ready} {
			// Tablet landscape
			.#{$selector} {
				font-size:$tabletLandscapeFontSize !important;
			}
		}
	}

	@if ($use-tablet-portrait == true){
		@media #{$till-tablet-landscape} {
			// Tablet portrait
			.#{$selector} {
				font-size:$tabletPortraitFontSize !important;
			}
		}
	}

	@if ($use-smartphone-landscape == true){
		@media #{$till-tablet-portrait} {
			// Smartphone landscape
			.#{$selector} {
				font-size:$smartphoneLandscapeFontSize !important;
			}
		}
	}

	@if ($use-smartphone-portrait == true){
		@media #{$till-smartphone-landscape} {
			// Smartphone portrait
			.#{$selector} {
				font-size:$smartphonePortraitFontSize !important;
			}
		}
	}
}

@mixin setViewportsFontSize($hdFull:1em, $hd-ready:1em, $tablet-landscape:1em, $tablet-portrait:1em, $smartphone-landscape:1em, $smartphone-portrait:1em, $lineHeightMultiplier:$font-line-height) {
	// Media queries for selectors active from the smaller resolution to a specific one
	@if ($use-hd-full == true){
		@media #{$from-hd-full} {
			// Full HD
			font-size:$hdFull !important;
			line-height:$lineHeightMultiplier;
		}
	}

	@if ($use-hd-ready == true){
		@media #{$till-hd-full} {
			// HD Ready
			font-size:$hd-ready !important;
			line-height:$lineHeightMultiplier;
		}
	}

	@if ($use-tablet-landscape == true){
		@media #{$till-hd-ready} {
			// Tablet landscape
			font-size:$tablet-landscape !important;
			line-height:$lineHeightMultiplier;
		}
	}

	@if ($use-tablet-portrait == true){
		@media #{$till-tablet-landscape} {
			// Tablet portrait
			font-size:$tablet-portrait !important;
			line-height:$lineHeightMultiplier;
		}
	}

	@if ($use-smartphone-landscape == true){
		@media #{$till-tablet-portrait} {
			// Smartphone landscape
			font-size:$smartphone-landscape !important;
			line-height:$lineHeightMultiplier;
		}
	}

	@if ($use-smartphone-portrait == true){
		@media #{$till-smartphone-landscape} {
			// Smartphone portrait
			font-size:$smartphone-portrait !important;
			line-height:$lineHeightMultiplier;
		}
	}
}

