@mixin addLineHeightScaling(
    $selector        : body,
    $hdFull          : $font-line-height,
    $hdReady         : $font-line-height,
    $tabletLandscape : $font-line-height,
    $tabletPortrait  : $font-line-height,
    $mobileLandscape : $font-line-height,
    $mobilePortrait  : $font-line-height
    ) {

    @include _setLineHeightScaling($from-mobile-portrait,  $selector, $mobilePortrait,  $use-mobile-portrait);
    @include _setLineHeightScaling($from-mobile-landscape, $selector, $mobileLandscape, $use-mobile-landscape);
    @include _setLineHeightScaling($from-tablet-portrait,  $selector, $tabletPortrait,      $use-tablet-portrait);
    @include _setLineHeightScaling($from-tablet-landscape, $selector, $tabletLandscape,     $use-tablet-landscape);
    @include _setLineHeightScaling($from-hd-ready,         $selector, $hdReady,             $use-hd-ready);
    @include _setLineHeightScaling($from-hd-full,          $selector, $hdFull,              $use-hd-full);
}

@mixin _addLineHeightScaling($viewport, $selector, $lineHeight, $viewportEnabled) {
    @if $viewportEnabled == true {
        @media #{$viewport} {
            #{$selector} {
                line-height : $lineHeight;
            }
        }
    }
}

@mixin addFontScaling($selector, $hdFull:($font-size + ($font-size/2)), $hdReady:($font-size + ($font-size/4)), $tabletLandscape:$font-size, $tabletPortrait:$font-size, $mobileLandscape:$font-size, $mobilePortrait:$font-size, $lineHeightMultiplier:$font-line-height) {
    @include _setFontScaling($from-mobile-portrait,  $selector, $mobilePortrait,  $use-mobile-portrait);
    @include _setFontScaling($from-mobile-landscape, $selector, $mobileLandscape, $use-mobile-landscape);
    @include _setFontScaling($from-tablet-portrait,  $selector, $tabletPortrait,      $use-tablet-portrait);
    @include _setFontScaling($from-tablet-landscape, $selector, $tabletLandscape,     $use-tablet-landscape);
    @include _setFontScaling($from-hd-ready,         $selector, $hdReady,             $use-hd-ready);
    @include _setFontScaling($from-hd-full,          $selector, $hdFull,              $use-hd-full);
}

@mixin _addFontScaling($viewport, $selector, $fontSize, $viewportEnabled) {
    @if $viewportEnabled == true {
        @media #{$viewport} {
            #{$selector} {
                font-size : $fontSize;
            }
        }
    }
}


@mixin addMultipleFontsRule(
    $selector         : with-small-fonts,
    $fontFamilyHd     : $font-small,
    $fontSizeHd       : 14px,
    $fontFamilyTablet : $font-small,
    $fontSizeTablet   : 14px,
    $fontFamilyMobile : $font-small,
    $fontSizeMobile   : 12px,
    $antialias        : subpixel-antialiased
    ) {

    @include _addMultipleFontsRule($from-mobile-portrait, $selector, $fontFamilyMobile, $fontSizeMobile, $use-mobile-portrait);
    @include _addMultipleFontsRule($from-tablet-portrait, $selector, $fontFamilyTablet,     $fontSizeTablet,     $use-tablet-portrait);
    @include _addMultipleFontsRule($from-hd-ready,        $selector, $fontFamilyHd,         $fontSizeHd,         $use-hd-ready);
    @include font-smoothing($antialias);
}

@mixin _addMultipleFontsRule($viewport, $selector, $fontFamily, $fontSize, $viewportEnabled) {
    @if $viewportEnabled == true {
        @media #{$viewport} {
            .#{$selector} {
                @include property(font-family, $fontFamily);
                @include property(font-size, $fontSize);
            }
        }
    }
}


@mixin setHeadingFont(
    $hdFullMultiplier          : 1.5,
    $hdReadyMultiplier         : 1.25,
    $tabletLandscapeMultiplier : 1,
    $tabletPortraitMultiplier  : 1,
    $mobileLandscapeMultiplier : 1,
    $mobilePortraitMultiplier  : 1,
    $marginBottom              : (#{$spacing / 4}#{"px"})
    ) {

    @include _setHeadingFont($from-mobile-portrait,  $mobilePortraitMultiplier,  $marginBottom, $use-mobile-portrait);
    @include _setHeadingFont($from-mobile-landscape, $mobileLandscapeMultiplier, $marginBottom, $use-mobile-landscape);
    @include _setHeadingFont($from-tablet-portrait,  $tabletPortraitMultiplier,  $marginBottom, $use-tablet-portrait);
    @include _setHeadingFont($from-tablet-landscape, $tabletLandscapeMultiplier, $marginBottom, $use-tablet-landscape);
    @include _setHeadingFont($from-hd-ready,         $hdReadyMultiplier,         $marginBottom, $use-hd-ready);
    @include _setHeadingFont($from-hd-full,          $hdFullMultiplier,          $marginBottom, $use-hd-full);
}

@mixin _setHeadingFont($viewport, $multiplier, $margin, $viewportEnabled) {
    @if $viewportEnabled == true {
        @media #{$viewport} {
            h1 {
                font-size : round(#{$h1 * $multiplier}#{"px"});
            }
            h2 {
                font-size : round(#{$h2 * $multiplier}#{"px"});
            }
            h3 {
                font-size : round(#{$h3 * $multiplier}#{"px"});
            }
            h4 {
                font-size : round(#{$h4 * $multiplier}#{"px"});
            }
            h5 {
                font-size : round(#{$h5 * $multiplier}#{"px"});
            }
            h6 {
                font-size : round(#{$h6 * $multiplier}#{"px"});
            }
            h1, h2, h3, h4, h5, h6 {
                margin-bottom : round(#{$margin * $multiplier}#{"px"});
            }
        }
    }
}

@mixin addFontRule(
    $selector                ,
    $fontFamily              : $font-default,
    $hdFullFontSize          : $font-size,
    $hdReadyFontSize         : $hdFullFontSize,
    $tabletLandscapeFontSize : $hdReadyFontSize,
    $tabletPortraitFontSize  : $tabletLandscapeFontSize,
    $mobileLandscapeFontSize : $tabletPortraitFontSize,
    $mobilePortraitFontSize  : $mobileLandscapeFontSize,
    $lineHeightMultiplier    : false,
    $antialias               : false
    ) {
    // Media queries for selectors active from the smaller resolution to a specific one
    .#{$selector} {
        font-family : $fontFamily;
        @include property(line-height, $lineHeightMultiplier);
        @include font-smoothing($antialias);
    }

    @include _addFontRule($from-hd-full,          $selector, $hdFullFontSize,          $use-hd-full);
    @include _addFontRule($till-hd-full,          $selector, $hdReadyFontSize,         $use-hd-ready);
    @include _addFontRule($till-hd-ready,         $selector, $tabletLandscapeFontSize, $use-tablet-landscape);
    @include _addFontRule($till-tablet-landscape, $selector, $tabletPortraitFontSize,  $use-tablet-portrait);
    @include _addFontRule($till-tablet-portrait,  $selector, $mobileLandscapeFontSize, $use-mobile-landscape);
    @include _addFontRule($till-mobile-landscape, $selector, $mobilePortraitFontSize,  $use-mobile-portrait);
}

@mixin _addFontRule($viewport, $selector, $fontSize, $viewportEnabled) {
    @if $viewportEnabled == true {
        @media #{$viewport} {
            .#{$selector} {
                font-size : $fontSize !important;
            }
        }
    }
}

@mixin setViewportsFontSize(
    $hdFullFontSize          : 16px,
    $hdReadyFontSize         : 16px,
    $tabletLandscapeFontSize : 16px,
    $tabletPortraitFontSize  : 16px,
    $mobileLandscapeFontSize : 16px,
    $mobilePortraitFontSize  : 16px,
    $lineHeightMultiplier    : $font-line-height,
    $useImportant            : false
    ) {

    line-height : $lineHeightMultiplier;

    @include _setViewportsFontSize($from-hd-full,          $hdFullFontSize,          $useImportant, $use-hd-full);
    @include _setViewportsFontSize($till-hd-full,          $hdReadyFontSize,         $useImportant, $use-hd-ready);
    @include _setViewportsFontSize($till-hd-ready,         $tabletLandscapeFontSize, $useImportant, $use-tablet-landscape);
    @include _setViewportsFontSize($till-tablet-landscape, $tabletPortraitFontSize,  $useImportant, $use-tablet-portrait);
    @include _setViewportsFontSize($till-tablet-portrait,  $mobileLandscapeFontSize, $useImportant, $use-mobile-landscape);
    @include _setViewportsFontSize($till-mobile-landscape, $mobilePortraitFontSize,  $useImportant, $use-mobile-portrait);

}

@mixin _setViewportsFontSize($viewport, $fontSize, $useImportant, $viewportEnabled) {
    @if $viewportEnabled == true {
        @if $useImportant == true {
            @media #{$viewport} {
                font-size : $fontSize !important;
            }
        } @else {
            @media #{$viewport} {
                font-size : $fontSize;
            }
        }
    }
}
