@mixin setLineHeightScaling(
    $selector               : body,
    $hdFull                 : $font-line-height,
    $hdReady                : $font-line-height,
    $tabletLandscape        : $font-line-height,
    $tabletPortrait         : $font-line-height,
    $smartphoneLandscape    : $font-line-height,
    $smartphonePortrait     : $font-line-height
    ) {

    @include _setLineHeightScaling($from-smartphone-portrait,  $selector, $smartphonePortrait,  $use-smartphone-portrait);
    @include _setLineHeightScaling($from-smartphone-landscape, $selector, $smartphoneLandscape, $use-smartphone-landscape);
    @include _setLineHeightScaling($from-tablet-portrait,      $selector, $tabletPortrait,      $use-tablet-portrait);
    @include _setLineHeightScaling($from-tablet-landscape,     $selector, $tabletLandscape,     $use-tablet-landscape);
    @include _setLineHeightScaling($from-hd-ready,             $selector, $hdReady,             $use-hd-ready);
    @include _setLineHeightScaling($from-hd-full,              $selector, $hdFull,              $use-hd-full);
}

@mixin _setLineHeightScaling($viewport, $selector, $lineHeight, $viewportEnabled) {
	@if $viewportEnabled == true {
	    @media #{$viewport} {
	        #{$selector} {
	            line-height : $lineHeight;
	        }
	    }
	}
}

@mixin setFontScaling($selector, $hdFull:($font-size + ($font-size/2)), $hdReady:($font-size + ($font-size/4)), $tabletLandscape:$font-size, $tabletPortrait:$font-size, $smartphoneLandscape:$font-size, $smartphonePortrait:$font-size, $lineHeightMultiplier:$font-line-height) {
	@include _setFontScaling($from-smartphone-portrait,  $selector, $smartphonePortrait,  $use-smartphone-portrait);
    @include _setFontScaling($from-smartphone-landscape, $selector, $smartphoneLandscape, $use-smartphone-landscape);
    @include _setFontScaling($from-tablet-portrait,      $selector, $tabletPortrait,      $use-tablet-portrait);
    @include _setFontScaling($from-tablet-landscape,     $selector, $tabletLandscape,     $use-tablet-landscape);
    @include _setFontScaling($from-hd-ready,             $selector, $hdReady,             $use-hd-ready);
    @include _setFontScaling($from-hd-full,              $selector, $hdFull,              $use-hd-full);
}

@mixin _setFontScaling($viewport, $selector, $fontSize, $viewportEnabled) {
	@if $viewportEnabled == true {
	    @media #{$viewport} {
	        #{$selector} {
	            font-size : $fontSize;
	        }
        }
    }
}


@mixin addMultipleFontsRule(
    $selector             : with-small-fonts,
    $fontFamilyHd         : $font-small,
    $fontSizeHd           : 14px,
    $fontFamilyTablet     : $font-small,
    $fontSizeTablet       : 14px,
    $fontFamilySmartphone : $font-small,
    $fontSizeSmartphone   : 12px,
    $antialias            : subpixel-antialiased
    ) {

    @include _addMultipleFontsRule($from-smartphone-portrait, $selector, $fontFamilySmartphone, $fontSizeSmartphone, $use-smartphone-portrait);
    @include _addMultipleFontsRule($from-tablet-portrait,     $selector, $fontFamilyTablet,     $fontSizeTablet,     $use-tablet-portrait);
    @include _addMultipleFontsRule($from-hd-ready,            $selector, $fontFamilyHd,         $fontSizeHd,         $use-hd-ready);
    @include font-smoothing($antialias);
}

@mixin _addMultipleFontsRule($viewport, $selector, $fontFamily, $fontSize, $viewportEnabled) {
	@if $viewportEnabled == true {
	    @media #{$viewport} {
	        .#{$selector} {
                @include property(font-family, $fontFamily);
                @include property(font-size, $fontSize);
	        }
	    }
    }
}


@mixin setHeadingFont(
    $hdFullMultiplier              : 1.5,
    $hdReadyMultiplier             : 1.25,
    $tabletLandscapeMultiplier     : 1,
    $tabletPortraitMultiplier      : 1,
    $smartphoneLandscapeMultiplier : 1,
    $smartphonePortraitMultiplier  : 1,
    $marginBottom                  : (#{$global-step / 4}#{"px"})
    ) {

    @include _setHeadingFont($from-smartphone-portrait,  $smartphonePortraitMultiplier,  $marginBottom, $use-smartphone-portrait);
    @include _setHeadingFont($from-smartphone-landscape, $smartphoneLandscapeMultiplier, $marginBottom, $use-smartphone-landscape);
    @include _setHeadingFont($from-tablet-portrait,      $tabletPortraitMultiplier,      $marginBottom, $use-tablet-portrait);
    @include _setHeadingFont($from-tablet-landscape,     $tabletLandscapeMultiplier,     $marginBottom, $use-tablet-landscape);
    @include _setHeadingFont($from-hd-ready,             $hdReadyMultiplier,             $marginBottom, $use-hd-ready);
    @include _setHeadingFont($from-hd-full,              $hdFullMultiplier,              $marginBottom, $use-hd-full);
}

@mixin _setHeadingFont($viewport, $multiplier, $margin, $viewportEnabled) {
	@if $viewportEnabled == true {
	    @media #{$viewport} {
	        h1 {
	            font-size : round(#{$h1 * $multiplier}#{"px"});
	        }
	        h2 {
	            font-size : round(#{$h2 * $multiplier}#{"px"});
	        }
	        h3 {
	            font-size : round(#{$h3 * $multiplier}#{"px"});
	        }
	        h4 {
	            font-size : round(#{$h4 * $multiplier}#{"px"});
	        }
	        h5 {
	            font-size : round(#{$h5 * $multiplier}#{"px"});
	        }
	        h6 {
	            font-size : round(#{$h6 * $multiplier}#{"px"});
	        }
	        h1, h2, h3, h4, h5, h6 {
	            margin-bottom : round(#{$margin * $multiplier}#{"px"});
	        }
	    }
	}
}

@mixin addFontRule(
    $selector                    ,
    $fontFamily                  : $font-default,
    $hdFullFontSize              : $font-size,
    $hdReadyFontSize             : $hdFullFontSize,
    $tabletLandscapeFontSize     : $hdReadyFontSize,
    $tabletPortraitFontSize      : $tabletLandscapeFontSize,
    $smartphoneLandscapeFontSize : $tabletPortraitFontSize,
    $smartphonePortraitFontSize  : $smartphoneLandscapeFontSize,
    $lineHeightMultiplier        : false,
    $antialias                   : false
    ) {
    // Media queries for selectors active from the smaller resolution to a specific one
    .#{$selector} {
        font-family : $fontFamily;
        @include property(line-height, $lineHeightMultiplier);
        @include font-smoothing($antialias);
    }

    @include _addFontRule($from-hd-full,              $selector, $hdFullFontSize,              $use-hd-full);
    @include _addFontRule($till-hd-full,              $selector, $hdReadyFontSize,             $use-hd-ready);
    @include _addFontRule($till-hd-ready,             $selector, $tabletLandscapeFontSize,     $use-tablet-landscape);
    @include _addFontRule($till-tablet-landscape,     $selector, $tabletPortraitFontSize,      $use-tablet-portrait);
    @include _addFontRule($till-tablet-portrait,      $selector, $smartphoneLandscapeFontSize, $use-smartphone-landscape);
    @include _addFontRule($till-smartphone-landscape, $selector, $smartphonePortraitFontSize,  $use-smartphone-portrait);
}

@mixin _addFontRule($viewport, $selector, $fontSize, $viewportEnabled) {
	@if $viewportEnabled == true {
	    @media #{$viewport} {
	        .#{$selector} {
	            font-size : $fontSize !important;
	        }
	    }
	}
}

@mixin setViewportsFontSize(
    $hdFullFontSize              : 16px,
    $hdReadyFontSize             : 16px,
    $tabletLandscapeFontSize     : 16px,
    $tabletPortraitFontSize      : 16px,
    $smartphoneLandscapeFontSize : 16px,
    $smartphonePortraitFontSize  : 16px,
    $lineHeightMultiplier        : $font-line-height,
    $useImportant                : true
    ) {

    line-height : $lineHeightMultiplier;

    @include _setViewportsFontSize($from-hd-full,              $hdFullFontSize,              $useImportant, $use-hd-full);
    @include _setViewportsFontSize($till-hd-full,              $hdReadyFontSize,             $useImportant, $use-hd-ready);
    @include _setViewportsFontSize($till-hd-ready,             $tabletLandscapeFontSize,     $useImportant, $use-tablet-landscape);
    @include _setViewportsFontSize($till-tablet-landscape,     $tabletPortraitFontSize,      $useImportant, $use-tablet-portrait);
    @include _setViewportsFontSize($till-tablet-portrait,      $smartphoneLandscapeFontSize, $useImportant, $use-smartphone-landscape);
    @include _setViewportsFontSize($till-smartphone-landscape, $smartphonePortraitFontSize,  $useImportant, $use-smartphone-portrait);

}

@mixin _setViewportsFontSize($viewport, $fontSize, $useImportant, $viewportEnabled) {
	@if $viewportEnabled == true and $useImportant == true {
	    @media #{$viewport} {
	        font-size : $fontSize !important;
	    }
	}
	@else{
		@if $viewportEnabled == true and $useImportant != true {
		    @media #{$viewport} {
		        font-size : $fontSize;
		    }
		}
	}
}
