@mixin button-box($backgroundColor:#1ba6da, $padding:1em, $borderRadius:4px) {
	// <a class="button" href="#">Download</a>
	display: inline-block;
	padding: $padding;
	text-transform: uppercase;
	text-shadow: 0px -1px 1px rgba(0,0,0,.3);
	text-decoration: none;
	font-weight: bold;
	color:white;
	border:none;
	@include verticalGradient($backgroundColor,-10%);
	@include box-shadow(0px 1px 2px rgba(0,0,0,.4));
	@include border-radius($borderRadius);
	&:hover {
		color:white;
		border:none;
	}
}