@mixin button-account($backgroundColor:#C3C3C3, $color:white, $textShadowColor:0px -1px 0px rgba(255, 0, 0, 0.3)) {
	// Code snippet:
	// <a class="twitter-account with-small-fonts" href="#">Connect to <b>Twitter</b></a>
	// <a class="google-account" href="#">Connect to <span>Google+</span></a>
	display: inline-block;
	padding:0 0.5em;
	margin-bottom:0.5em;
	cursor:pointer;
	color:desaturate(lighten($backgroundColor,25%),12%);
	text-shadow:0px -1px 0px rgba(0, 0, 0, 0.3);
	border:1px solid saturate(darken($backgroundColor, 8%),8%);
	border-bottom-color:saturate(darken($backgroundColor, 20%),20%);
	background-color: $backgroundColor;
	@include border-radius(4px);
	@include verticalGradient($backgroundColor, 10%);
	@include box-shadow("0px 2px 3px -2px rgba(0, 0, 0, 0.7), inset 0px 1px 0px rgba(255, 255, 255, 0.35)");
	@include transition("color .25s ease-out, box-shadow .25s ease-out");
	> * {
		text-shadow:0px -1px 0px $textShadowColor;
		color:$color;
	}
	&:hover {
		text-shadow:0px -1px 0px $textShadowColor;
		color:$color;
		@include verticalGradient($backgroundColor, 0%);
	}
}