@mixin switch($round:6px, $padding:1px, $margin:2.5em, $onColor:#1ba6da, $offColor:#dc3151) {
	$duration:.2s;
	$animation:ease-out;
	padding:$padding;
	background-color: rgb(245,245,245);
	border:1px solid rgba(0,0,0,.15);
	@include border-radius($round);
	@include box-shadow(inset 0 1px 4px rgba(0,0,0,.2));
	> * {
		display: inline-block;
		padding:.5em;
		@include box-sizing(border-box);
		min-width:$margin;
		color:white;
		text-shadow:1px 1px 1px rgba(0,0,0,.3);
		text-align:center;
		cursor: pointer;
		background-color: white;
		@include transition("margin-right #{$duration} #{$animation}, margin-left #{$duration} #{$animation}");
		@include box-shadow(0 0 1px rgba(0,0,0,.3));
		@include border-radius(($round - $padding));
	}

	> .on {
		margin-right:$margin;
		margin-left:0;
		@include verticalGradient($onColor);
		border:1px solid darken($onColor,5%);
		border-top-color:lighten($onColor,10%);
		border-bottom-color:darken($onColor,10%);
	}
	> .off {
		margin-right:0;
		margin-left:$margin;
		@include verticalGradient($offColor);
		border:1px solid darken($offColor,5%);
		border-top-color:lighten($offColor,5%);
		border-bottom-color:darken($offColor,10%);
	}
}
