@mixin text-buried($color:black, $light:rgba(255,255,255,.05), $offset:1px) {
	// <div alt="Text Buried">Text Buried</div>
	display: inline-block;
	color: $color;
	position: relative;
	text-shadow:none;
	&:before, &:after {
		content: attr(alt);
		color: $light;
		position: absolute;
	}
	&:before {
		top:$offset;
		left:$offset;
	}
	&:after {
		top:$offset;
		left:$offset;
	}
}
