<div class="layout-limiter">
  <footer class="layout-footer">
    <div class="layout-footer__title">
      {{ metadata.footer_title }}
    </div>
    <div class="layout-footer__description">
      {{ global.marked(metadata.footer_description) }}
    </div>
  </footer>
</div>
