<header class="layout-header layout-limiter">
  <div class="layout-header__title">
    {{ metadata.title }}
  </div>
  <div class="layout-header__description">
    {{ global.marked(metadata.description) }}
  </div>
</header>
