@mixin column(
    $hdFullStep          : false,
    $hdReadyStep         : false,
    $tabletLandscapeStep : false,
    $tabletPortraitStep  : false,
    $mobileLandscapeStep : false,
    $mobilePortraitStep  : false,
    $totalSteps          : 24
    ) {
    @include setFloatGridColumn($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin columnOffset(
    $hdFullStep          : false,
    $hdReadyStep         : false,
    $tabletLandscapeStep : false,
    $tabletPortraitStep  : false,
    $mobileLandscapeStep : false,
    $mobilePortraitStep  : false,
    $totalSteps          : 24
    ) {
    @include setFloatGridOffset($hdFullStep, $hdReadyStep, $tabletLandscapeStep, $tabletPortraitStep, $mobileLandscapeStep, $mobilePortraitStep, $totalSteps);
}

@mixin row(
    $hdFullSteps          : 0,
    $hdReadySteps         : $hdFullSteps,
    $tabletLandscapeSteps : $hdReadySteps,
    $tabletPortraitSteps  : $tabletLandscapeSteps,
    $mobileLandscapeSteps : 1,
    $mobilePortraitSteps  : 1
    ) {
    @include setFloatGridContainer($hdFullSteps, $hdReadySteps, $tabletLandscapeSteps, $tabletPortraitSteps, $mobileLandscapeSteps, $mobilePortraitSteps);
}
