// Place your own widgets here!
// or publish them on http://frontsize.com/widgets/add

// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==             FRONTSIZE             ===================================================================================================================================
// ==            CORE WIDGETS           ===================================================================================================================================
// ==               CONFIG              ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

@mixin useFrontsizeWidgets() {
	/*.hooked				{ .hooked(); }
	.area-hifi			{ .area-hifi(); }
	.button-hifi		{ .button-hifi(); }
	.button-box			{ .button-box(); }
	.button-mini		{ .button-mini(); }
	.button-metal		{ .button-metal(); }
	.keyboard			{ .keyboard(); }
	.keyboard-vintage	{ .keyboard-vintage();}
	.keyboard-commodore	{ .keyboard-commodore(); }
	.switch 			{ .switch(); }
	.text-buried		{ .text-buried(); }
	.facebook-account	{ .button-account(#5670a6); }
	.google-account		{ .button-account(#d55a4a); }
	.twitter-account	{ .button-account(#53bbef); }
	.github-account		{ .button-account(#cdcdcd, darken(grey,15%), rgba(255,255,255,.3)); }
	.tabs				{ .tabs(); }
	.paginator-circular	{ .paginator-circular(); }
	.message-status		{ .message-status(); }
	.pic				{ .pic(); }*/
}
