// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==              FONTS                ===================================================================================================================================
// ==              VARS                 ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

// font sizes for h# elements 
$h1 : 32px;
$h2 : 28px;
$h3 : 24px;
$h4 : 20px;
$h5 : 18px;
$h6 : 16px;

// Font sizes
$font-size:       16px;
$font-small-size: 13px;

$font-sans       : 'helvetica neue', helvetica, arial, sans-serif;
$font-serif      : georgia, 'times new roman', times, serif;
$font-monospace  : menlo, monaco, 'courier new', monospace;
$font-small      : 'lucida grande', tahoma, verdana, arial, sans-serif;

$font-default-color: #7b8284;
$font-default      : $font-sans;
$font-heading      : $font-sans;
$font-line-height  :	1.25;

$global-step: 24px;

$font-line-height: $global-step;
$font-weight     : 300;
$font-color      : #898989;


// Global padding configuration
$horizontal-padding: $global-step;
$vertical-padding  : $global-step;
$global-padding    : $vertical-padding $horizontal-padding;

// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==              STATE                ===================================================================================================================================
// ==              COLORS               ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================
$state-important: true;
$state-faded-opacity: 0.5;
$state-disabled-opacity: 0.5;
$state-table-padding: 12px;

// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==           MEDIA QUERIES           ===================================================================================================================================
// ==               VARS                ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

// set different width for the smartphones, tablets and hd resolutions
$smartphone-portrait-step:	320px;	// smartphones portrait		320~380
$smartphone-landscape-step:	480px;	// smartphones landscape	480~568~685
$tablet-portrait-step:		768px;	// tablet portrait			768
$tablet-landscape-step:		1024px;	// tablet landscape			1024
$hd-ready-step:				1280px;	// HD Ready					1280 (720p)
$hd-full-step:				1800px;	// Full HD					1920 (1080p)

// Granular setting for which Media Query rules are enabled
$use-viewport-states:      true;
$use-smartphone-portrait:  true;
$use-smartphone-landscape: true;
$use-tablet-portrait:      true;
$use-tablet-landscape:     true;
$use-hd-ready:             true;
$use-hd-full:              true;
$use-viewport-states:      true;

$use-state-margin      : true;
$use-state-padding     : true;
$use-state-positioning : true;
$use-state-sizing      : true;
$use-state-selectors   : true;
$use-state-table       : true;
$use-state-text        : true;
$use-state-visibility  : true;

// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==                VARS               ===================================================================================================================================
// ==           CONFIGURATION           ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

$theme: "default";

$use-css-prefix: true;
// enable or disable browser specific CSS3 prefixes:

// if $use-css-prefix is set to TRUE
// .box-shadow(1px 1px 2px rgba(0,0,0,0.3));
// 
// becomes:
// box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// -khtml-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// -ms-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// -o-box-shadow:1px 1px 2px rgba(0,0,0,0.3);
// 
// if $use-css-prefix is set to FALSE
// .box-shadow(1px 1px 2px rgba(0,0,0,0.3));
// becomes:
// box-shadow:1px 1px 2px rgba(0,0,0,0.3);

$use-ie-filters: false;

$use-fallback-colors: true;

$use-root-path: true;
//$rootpath: 'css/frontsize/${theme}/img/';
$root-path: "/css/frontsize-less/themes/#{$theme}/img/";

$use-core-widgets: true


// if $use-root-path located in app.less is set to true use it with:
// .background-image("background.png");
// this will output
// background-image: url("/img/background.png");
